* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div, p, span, input{
    color: #BABECC;
}

.container {
    position: relative;
    width: 24rem;
    padding: 70px 40px;
    background-color: #33383D;
    border-radius: 30px;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    color: #a6a7a9;
    font-weight: 300;
}

.container h2 {
    color: #d3d4d5;
    margin-bottom: 45px;
    line-height: 1em;
    font-weight: 600;
    padding-left: 10px;
    border-left: 5px solid #ed591a;
}

.container .inputBox {
    display: flex;
    position: relative;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 19rem;
    height: 3rem;
    margin-bottom: 1.8rem;
}

.container .inputBox:nth-child(1), .inputBox:nth-child(2), button {
    border: 0;
    outline: 0;
    border-radius: 320px;
    background-color: #33383D;
}

.container .inputBox input {
    position: absolute;
    top: 9%;
    left: 4%;
    width: 90%;     /* 100% 하면 옆에 빠져나옴 */
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    color: #f7f7f7;
    font-weight: 300;
    border: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      box-shadow:  0 0 0px 1000px white 00.1s inset !important;
      -webkit-box-shadow: 0 0 0px 1000px white 00.1s inset !important;
}

.container .inputBox span {
    position: absolute;
    color: #a6a7a9;
    top: 0.4rem;
    left: 0.4rem;
    padding: 3%;
    display: inline-block;
    transition: 0.5s;
    pointer-events: none;
}

.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span {
    transform: translateX(-0.7rem);
    transform: translateY(-2rem);
    font-size: 0.85rem;
}

button {
    color: #61677C;
    font-weight: bold;
    box-shadow: 4px 4px 8px #b94514, -4px -4px 8px #ff6d20;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #ed591a;
    font-weight: 600;
}

button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}


button.login{
    text-align: center;
    display: inline;
    position: relative;
    top: 1.3rem;
    left: 70%;
    width: 30%;
    height: 3rem;
    color: #813818;
}

button.password{
    width: 50%;
    height: 3rem;
    color: #AE1100;
}

