* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}

div, p, span, input{
    color: #BABECC;
}


.container {
    position: relative;
    width: 24rem;
    padding: 70px 40px 20px 40px;
    background-color: #33383D;
    border-radius: 30px;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.container h2 {
    color: #d3d4d5;
    margin-bottom: 45px;
    line-height: 1em;
    font-weight: 600;
    padding-left: 10px;
    border-left: 5px solid #514a77;
}

.container h3 {
    color: #d3d4d5;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 1em;
    font-weight: 600;
    padding-left: 10px;
    border-left: 5px solid #514a77;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      box-shadow:  0 0 0px 1000px white 00.1s inset !important;
      -webkit-box-shadow: 0 0 0px 1000px white 00.1s inset !important;
      -webkit-text-fill-color: #fff !important;
}

.container .inputBox {
    display: flex;
    position: relative;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 19rem;
    height: 3rem;
    margin-bottom: 1.8rem;
}

.container .inputBox_radio {
    display: flex;
    position: relative;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 3.5rem;
    height: 2rem;
    margin-bottom: 1.8rem;
    border: 0;
    outline: 0;
    border-radius: 320px;
    background-color: #33383D;
}

.container .inputBox, button {    
    border: 0;
    outline: 0;
    border-radius: 320px;
    background-color: #33383D;
}

.container .inputBox:nth-child(5) {    
    width: 4rem;
}

.container .inputBox input {
    position: absolute;
    top: 9%;
    left: 4%;
    width: 100%;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    color: #f7f7f7;
    font-weight: 300;
    border: none;
}

.container .inputBox span {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    padding: 3%;
    display: inline-block;
    transition: 0.5s;
    pointer-events: none;
}

.container .inputBox .age {
    position: absolute;
    top: 0.9rem;
    left: 0.9rem;
}

.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span {
    transform: translateX(-0.7rem);
    transform: translateY(-2rem);
    font-size: 0.85rem;
}

button {
    color: #61677C;
    font-weight: bold;
    box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    box-shadow: 5px 5px 8px #766f96, -9px -9px 9px #221f2f;
}

button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button.login{
    text-align: center;
    display: inline;
    margin-left: 72%;
    margin-top: 1%;
    width: 30%;
    height: 3rem;
    background-color: #514a77;
    color: #813818;
}

.segmented-control {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 13.5rem;
    height: 4rem;
    box-shadow: 9px 9px 12px #25292d, -9px -9px 12px #41474d;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 27.5rem;
    left: 8rem;
}
.segmented-control input {
    display: none;
}
.segmented-control > input:checked + label {
    transition: all 0.5s ease;
    color: #6d5dfc;
}
.segmented-control__1, .segmented-control__2 {
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #9baacf;
    transition: all 0.5s ease;
}
.segmented-control__1:hover, .segmented-control__2:hover {
    color: #6d5dfc;
}
.segmented-control__color {
    position: absolute;
    height: 3.4rem;
    width: 6.2rem;
    margin-left: 0.3rem;
    border-radius: 0.8rem;
    box-shadow: inset 9px 9px 7px #25282c, inset -9px -9px 7px #41484e;

    pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
    transform: translateX(6.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.genre_container {
    display: flex;
    width: 110%;
    flex-wrap: wrap;
}

.genre {
    width: 50%;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    color: #9baacf;
    cursor: pointer;
}

.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.radio__box {
    position: relative;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    /* background-color: rgba(238,240,245,1); */
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(12,13,18, 0.06), -1px -1px 1px 0px rgba(255, 255, 255,0.6), -1px -1px 4px 0px rgba(255, 255, 255, 0.6), -2px -2px 8px 0px rgba(255, 255, 255, 0.6), 1px 1px 1px 0px rgba(12,13,18, 0.06), 1px 1px 4px 0px rgba(12,13,18, 0.06), 2px 2px 8px 0px rgba(12,13,18, 0.06);
}

.radio__box::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 7px;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background-color 0.4s 0.1s, box-shadow 0.4s;
    
}

.radio__text {
    position: relative;
    margin-left: 60px;
    top: -45%;
    color: #d3d4d5;
    border-radius: 20%;
    /* background-color: rgba(238,240,245,1); */
    /* box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(12,13,18, 0.06), -1px -1px 1px 0px rgba(255, 255, 255,0.6), -1px -1px 4px 0px rgba(255, 255, 255, 0.6), -2px -2px 8px 0px rgba(255, 255, 255, 0.6), 1px 1px 1px 0px rgba(12,13,18, 0.06), 1px 1px 4px 0px rgba(12,13,18, 0.06), 2px 2px 8px 0px rgba(12,13,18, 0.06); */
}

.radio__input:checked + .radio__box::before {
    background-color: #514a77;
    /* box-shadow: inset 0 0 0px 1px #514a77, inset 0 0 4px 1px #514a77, inset 0 0 8px 1px #514a77, inset -1px -1px 1px 0px rgb(255 255 255 / 60%), inset -2px -2px 2px 0px rgb(255 255 255 / 30%), inset 1px 1px 1px 0px rgb(12 13 18 / 60%), inset 2px 2px 2px 0px rgb(12 13 18 / 40%); */
}

.password_error {
    text-align: center; 
    color : red;
    font-weight: bold;
}