input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 20rem;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.report_container.big_container{
  margin-bottom: 1rem;
}  
.best_report_container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-bottom: 1rem; */
  /* margin-top: 1rem; */
}

.card > img {
  /* width: 100%; */
  height: 95%;
  border-radius: 15px;
  object-fit: cover;
  /* padding: 0.5rem; */
  background: #33383D;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-65%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(65%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.player {

min-width: 80%;

height: 5rem;

padding: 1rem 2rem;

border-radius: 30px;

box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;

display: flex;

justify-content: space-between;

align-items: center;
}

.upper-part {
  position: relative;
  display: flex;
  margin: 1rem;
  height: 2rem;
  overflow: hidden;
  align-items: center;
}

.profile_img {
  width: 3rem;
}

.song-info {
  width: calc(100% - 2rem);
  display: block;
  margin: 1rem;
}

.song-info .title {
  color: #f7f7f7;
  font-size: large;
  line-height: 1.4rem;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 1rem;
  line-height: 1rem;
  color: #c6c5c6;
}

.info-area {
  width: 100%;
}

#item-1:checked ~ .player #test {
  transform: translateY(2.4rem);
}

#item-2:checked ~ .player #test {
  transform: translateY(0rem);
}

#item-3:checked ~ .player #test {
  transform: translateY(-2.4rem);
}

* {
  /* color : red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 6rem;
  padding: 3rem 2rem;
  background-color: #33383D;
  /* background-color: blue; */
  border-radius: 30px;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  color: #a6a7a9;
  font-weight: 600;
}

.big_container {width: 90%;margin: 1rem auto 0;padding: 0.5rem;border-radius: 30px;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;}

.all_report_container {
display : flex;
}

.report_container p {
  font-size: 2.5rem;
  font-weight: 600;
  border-left: 0.5rem #514a77 solid;
  padding-left: 1rem;
  margin: 2rem;
  color: #f7f7f7;
}

.report_container .best_report_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 30rem;
}

form {width: 55rem;margin-left: 10%;display: flex;justify-content: space-between;}

.inputBox {color: #a6a7a9;clear: both;border: 0;outline: 0;border-radius: 100px;width: 70%;/* margin: 0 auto; *//* padding : 1rem 2rem; *//* background-color: #33383D; *//* background-color: pink; */margin-left: 3rem;}

.input_bar {width: 100%;     /* 100% 하면 옆에 빠져나옴 *//* margin: 0px 20px; */padding: 0.7rem 2rem;border-radius: 4px;outline: none;font-size: 1rem;color: #111;font-weight: 300;border: none;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;border-radius: 10px;background: transparent;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      box-shadow:  0 0 0px 1000px white 00.1s inset !important;
      -webkit-box-shadow: 0 0 0px 1000px white 00.1s inset !important;
      -webkit-text-fill-color: #fff !important;
}


.button {font-weight: bold;box-shadow: 6px 7px 6px #1a1823, -7px -6px 11px #686a72;transition: all 0.2s ease-in-out;cursor: pointer;font-size: large;font-weight: 600;margin: 1rem;height: 3.5rem;padding : 0 3rem;color: #813818;background-color: #303a47;border: 0;outline: 0;border-radius: 320px;}

.button:hover {box-shadow: 5px 5px 8px #62646a, -9px -9px 9px #17191d;}

.button:active {
box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.navbar_container{width: 15rem;margin-top: 2rem;height: 42rem;/* position: fixed; */display: flex;align-items: center;}

.navbar > li {margin: 1rem 0;text-align: center;list-style-type: none;padding : 1rem;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;border-radius: 10px;}

#write_report_btn {
margin: 1rem 3rem;
padding: 0 2rem;
width: 13rem;
display: flex;
justify-content: center;
margin-left: auto;
}

.book_cover {
padding : 1rem;
box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
border-radius: 10px;
}

.text {width: 8rem;padding: 1rem 2rem;text-align: center;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;border-radius: 50px;background: transparent;}

.report_box{/* background-color: rgb(235, 225, 255); *//* width: 500px; */margin : 0.5rem;min-height: 80%;padding : 1rem 2rem;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;border-radius: 50px;}

.report_info{
  display : flex;
  flex-direction: column;
  width: 28%;
  /* padding: 0 1rem; */
  }

.report_info > * {
  display: flex;
  margin: 0.3rem 0.3rem;
  align-items: center;
}

.report {
margin: 1rem 0;
display: flex;
justify-content: space-between;
align-items: center;
}

.profile_img {box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;border-radius: 10px;background: transparent;margin-right: 1rem;display: flex;align-items: center;}

.time {
  font-size: small;
  color: #a6a7a9;
}

#book_name {
  width: 70%;
  height: 5rem;
  border-radius: 1rem;
}


.bookname {text-align: left;color: #f7f7f7;/* width: 90%; */}

.pagination_container {
  border-radius: 1rem;
  margin-left: 2rem;
}
.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  /* flex: 1; */
  padding: 0 0.5rem;
  border-radius: 1rem;
  background-color: #303a47;
  box-shadow: 6px 7px 6px #1a1823, -7px -6px 11px #686a72;
}

.pagination li a {
  /* font-size: 1rem; */
  font-weight: 700;
  text-decoration: none;
  color: #813818;
  height: 2rem;
  width: 2rem;
  /* display: block; */
  /* line-height: 2.4rem; */
}
.pagination li:first-child a {
  width: 6rem;
}

.pagination li:nth-child(2) {
  margin: 0 1rem;
}

.pagination li:hover {
  box-shadow: -2px -2px 5px #191919, 2px 2px 5px #BABECC;
}

.filter-trigger.active {
  color: #a999f2!important;
  font-size: larger;
  /* background: #514a77; */
  /* box-shadow: inset 9px 9px 18px #261f44, inset -9px -9px 18px #786fa1; */
}

.filter-trigger {
  cursor: pointer;
}

.categories {width: 100%;}

#detail_trigger_btn {
  height:100%;
  font-size: initial;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* box-shadow: 5px 5px 8px #62646a, -9px -9px 9px #17191d !important; */
}

#search_btn, #write_report_btn{
  background-color: #514a77;
  box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
}

  .reports_container {
    box-shadow: none;
}

#search_btn:hover, #write_report_btn:hover {
  box-shadow: 5px 5px 8px #766f96, -9px -9px 9px #221f2f;
}