#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 25%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background-color: #41484e;
    /* box-shadow: 0 8px 32px 0 #eee; */
    /* backdrop-filter: blur( 13.5px ); */
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    height: 80%;
    position: relative;
    padding: 4rem 3rem;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: white;
}
#modal .title h2 {
    height: 10%;
    margin: 1rem;
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}

#modal .content {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    padding: 2% 10px;
    color: white;
}



#modal .single-book {
    display: flex;
    width: 30%;
    height: 46%;
}

#modal .single-book.hover {
    border: solid 10px rgba(236, 231, 99, 0.7);
}

#modal .single-book.click {
    border: solid 8px #babad485;
}


.single-book .book-text-box {
    /* background: rgb(164 164 164 / 45%); */
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-text-box p {
    width: 100%;
    padding: 10% 0;
}

.single-book img {
    /* width: 60%; */
}

#modal .book-select-btn {
    width: 20%;
    height: 8%;
    font-weight: bold;
    box-shadow: 8px 8px 10px #25292d, -8px -8px 10px #41474d;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;
    margin-left: 75%;
    height: 3.5rem;
    color: #AE1100;
    background-color: #33383D;
    border: 0;
    outline: 0;
    border-radius: 320px;
}


#img_input {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {  /* 완전 전체 가운데정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.container {  /* 가장큰 컨테이너 */
    position: relative;
    width: 90%;
    margin: 6rem;
    padding: 2rem;
    background-color: #33383D;
    /* background-color: blue; */
    border-radius: 30px;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    color: #a6a7a9;
    font-weight: 600;
}

.input_bar {   /* 독후감 제목, 책제목, 책제목 검색 입력창 */
    width: 80%;
    /* margin: 0px 20px; */
    padding : 0.7rem;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    color: #f7f7f7;
    font-weight: 300;
    border: none;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 10px;
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      -webkit-transition: background-color 9999s ease-out;
      -webkit-text-fill-color: #fff !important;
}

.report_container > .inputBox {
    width: 55rem;
    margin-left: 10%;
}



.inputBox {
    color: #a6a7a9;
    clear: both;
    border: 0;
    outline: 0;
    border-radius: 100px;
    /* padding : 1rem 2rem; */
    background-color: #33383D;
    /* background-color: pink; */
}

#content {   /* 독후감 본문 컨테이너 */
    padding : 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
}

#book_img {  /* 책 표지 이미지 사각형 둘레 */
    padding : 2rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 10px;
    background: transparent;
}

textarea {   /* 독후감 본문 입력란 */
    font-size: 1.3rem;
    padding : 2rem;
    width: 100%;
    height: 30em;
    border: none;
    resize: none;
    border-radius: 10px;
     box-shadow: -5px -5px 5px rgba(92, 92, 92, 0.1),
    3px 3px 3px rgba(0, 0, 0, 0.3), 
    inset 3px 3px 3px rgba(82, 82, 82, 0.2),
    inset 3px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: transparent;

    /* 기본 스타일 */
    /* box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 10px;
    background: transparent; */
    color: #f7f7f7;
  }
  
textarea:focus {
  outline: 0;
}

.book_search {  /* 책검색 컨테이너 하나, 책검색결과 컨테이너 하나 */
    padding : 2rem;
    padding-bottom: 0.5rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 50px;
}

/* #book_search_bar{
    width: 90%;
    margin: 0 auto;
} */

.book_search_bar{
    justify-content: center;
    display : flex;
    width: 80%;
    margin: 0 auto;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 50px;
}

.text {   /* 글쓴이, 카테고리 묶음 */
    margin-top: 1.5rem;
}

.book_search_bar > * {
    margin : 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#book_info_container {
    width: 25em;
}

.book_search_result {
    display: flex;
}

.book_search_result > * {
    padding : 1rem 2rem;
}

#book_category {
    cursor: pointer;
    width: 80%;
    /* min-height: 60px; */
    /* max-height: 300px; */
    border-radius: 15px;
    background-color: #33383d;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    transition: all 300ms;
    border: none;
    padding: 1rem;
    /* color: black !important; */
}


option {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    transition: all 300ms;
    background-color : #000;
    border : none;
    /*     color: black !important; */
}

#book_category > option:hover {
    background-color: red;
    color: white;
}

img {
    display: flex;
    margin : 0 auto;
}


.button {   /* 책검색, 독후감 발행 버튼 두개 */
    font-weight: bold;
    box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin: 0 1rem 1rem 1rem;
    height: 3.5rem;
    padding : 0 3rem;
    color: #813818;
    background-color: #514a77;
    border: 0;
    outline: 0;
    border-radius: 320px;
}

.button:hover { /* */
    box-shadow: 5px 5px 8px #766f96, -9px -9px 9px #221f2f;
}

.button:active {/* */
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

#make_report{/* */
    margin: 2rem 5rem;
    padding: 0 2rem;
    width: 10rem;
    display: flex;
    margin-left: auto;
}

select {
    width : 8rem;
    padding : 0.5rem;
    /* margin : 0 2rem; */
}

.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  
  .radio__box {
    position: relative;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: rgba(238,240,245,1);
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(12,13,18, 0.06), -1px -1px 1px 0px rgba(255, 255, 255,0.6), -1px -1px 4px 0px rgba(255, 255, 255, 0.6), -2px -2px 8px 0px rgba(255, 255, 255, 0.6), 1px 1px 1px 0px rgba(12,13,18, 0.06), 1px 1px 4px 0px rgba(12,13,18, 0.06), 2px 2px 8px 0px rgba(12,13,18, 0.06);
  }
  
  .radio__box::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 7px;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(238,240,245,1);
    transition: background-color 0.4s 0.1s, box-shadow 0.4s;
  }
  
  .radio__text {
      position: relative;
      margin-left: 60px;
      top: -45%;
      color: #686868;
      border-radius: 20%;
      background-color: rgba(238,240,245,1);
      /* box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(12,13,18, 0.06), -1px -1px 1px 0px rgba(255, 255, 255,0.6), -1px -1px 4px 0px rgba(255, 255, 255, 0.6), -2px -2px 8px 0px rgba(255, 255, 255, 0.6), 1px 1px 1px 0px rgba(12,13,18, 0.06), 1px 1px 4px 0px rgba(12,13,18, 0.06), 2px 2px 8px 0px rgba(12,13,18, 0.06); */
  }
  
  .radio__input:checked + .radio__box::before {
    background-color: hsla(220, 100%, 54%, 1);
    box-shadow: inset 0 0 0px 1px rgba(0,150,255, 0.3), inset 0 0 4px 1px rgba(0,150,255, 0.3), inset 0 0 8px 1px rgba(0,150,255, 0.3), inset -1px -1px 1px 0px rgba(255,255,255, 0.6), inset -2px -2px 2px 0px rgba(255,255,255, 0.3), inset 1px 1px 1px 0px rgba(12,13,18, 0.6), inset 2px 2px 2px 0px rgba(12,13,18, 0.4);
  }

  .genre {
    width: 25%;
    align-items: center;
    font-size: 18px;
  }
  .genre_container {
    display: flex;
    width: 90%;
    margin: 1rem;
    flex-wrap: wrap;
  }

  .text {
    width: 8rem;
    padding: 1rem;
    text-align: center;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 50px;
    background: transparent;
  }

  /* .filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
  }
  
  /* .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  } */

  .image_upload {
    margin-left: 3rem;
}

.filebox label {
    position: absolute;
    top: 1rem;
    left: 1rem;
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: .25em;
  margin-top: 1rem;
  box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
    background-color: #514a77;
}

.input-file-button {
    color: white;
    border-radius: 1rem;
    width: 3rem;
    height: 2rem;
    padding: 0.5rem;
    /* margin-top: 28rem; */
    margin-left: 2rem;
}

label {
    color: white;
    box-shadow: 6px 7px 6px #24232b, -7px -6px 11px #686a72;
    background-color: #303a47;
}

label:hover { /* */box-shadow: 5px 5px 8px #62646a, -9px -9px 9px #17191d;}

label:active {/* */
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.middle_text {
    padding: 0.5rem 0 0.5rem 1rem;
    border-left: 0.5rem #514a77 solid;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      -webkit-transition: background-color 9999s ease-out;
      -webkit-text-fill-color: #fff !important;
}