{% extends "base/base.html" %}
{% load static %}

<head>
    <title>Add Club</title>
    <!-- <link rel="stylesheet" href="../../static/css/login/sign_up.css"> -->
</head>

{% block content %}
<div class="container">
    <h2>Add My Club!</h2>
    <form method="post">
        <div class="inputBox">
            <input type="text" required="required" name='clubname' id='clubname'>
            <span>Club Name</span>
        </div>
        <!--HIDE RADIO
        [type=radio] { jhn  cfvGBHM           ASZSSS    XC VBCN
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        }
        
        /* IMAGE STYLES */
        [type=radio] + img {
        cursor: pointer;
        }
        
        /* CHECKED STYLES */
        [type=radio]:checked + img {
        outline: 2px solid #f00;
        https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
        } -->
        <label>
            <input type="radio" name="club_img" value="club_img" checked>
            <img src="https://via.placeholder.com/40x60/0bf/fff&text=A">
            <input type="radio" name="club_img" value="club_img">
            <img src="https://via.placeholder.com/40x60/0bf/fff&text=A">
            <input type="radio" name="club_img" value="club_img">
            <img src="https://via.placeholder.com/40x60/0bf/fff&text=A">
        </label>

        <div class="inputBox">
            <select name="book_club_category" id="book_club_category">
                <option value="">-- 북클럽 카테고리 --</option>
                <option value="문학">문학</option>
                <option value="경제/경영">경제/경영</option>
                <option value="예술">예술</option>
                <option value="자기계발">자기계발</option>
                <option value="정치/사회">정치/사회</option>
                <option value="과학">과학</option>
                <option value="기술IT">기술/IT</option>
            </select>
        </div>

        <div class="inputBox">
            <span>소모임 최대 인원</span>
            <input type="number" required="required" name='number_of_member' id='number_of_member' min="2" max="30">
        </div>

        <div class="inputBox">
            <span>소모임 전용 ZOOM 링크</span>
            <input type="url" name="zoom_url" id="zoom_url">
        </div>

        {{error}}
        <div class="inputBox">
            <input type="submit" value="소모임 발행">
        </div>
    </form>
</div>
{% endblock content %}


</html>