{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/book_club.css' %}" />
{% endblock extrahead %}

{% block content %}
<div class="container">
    <div class="profile_club">
        <h3>나의 소모임</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='new/' class="all_my_reports">Add Club!</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in my_club%}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="container_body_add">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href="#" class="previous">Previous</a></li>
                <li><a href="#none">1/5</a></li>
                <li><a href="#" class="next">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="profile_club">
        <h3>인기 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=인기&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        <div class="my_book_club">
            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_book_club">
            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_book_club">
            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
    </div>
    <div class="profile_club">
        <h3>문학 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=문학&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.literature %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>예술 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=예술&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.art %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>자기계발 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=자기계발&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.self_development %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>정치/사회 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=정치/사회&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.political_society %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>과학 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=과학&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.science %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>기술/IT 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=기술/IT&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.it %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>인문 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=인문&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.humanities %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>자율 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=자율&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for img in book_club.amity %}
        <div class="my_book_club">
            <img class="book_cover" src="../../static/img/club_img_{{ img.image }}.jpg">
        </div>
        {% endfor %}
    </div>
    <div class="margin">
        <div class="bunder_reco">
            <div class="profile_club">
                <h3>번더의 인물 추천</h3>
            </div>
            <div class="container_body">
            </div>
            <div class="book_club_container">
                <div class="my_book_club">
                    <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                </div>
                <div class="my_book_club">
                    <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                </div>
                <div class="my_book_club">
                    <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                </div>
                <div class="my_book_club">
                    <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="club_container">
        <button class="add_Club" type="button" onclick="location.href='new/'">
            Add My Club!
        </button>
        <div class="my_clubs" onclick="clubToggle()">&times;
            <span>소모임명</span>
            <span>인원</span>
            <img src="" alt="">
        </div>
    </div>
    <div class="club_info">
        <span>인기 북클럽</span>
        <span>1 / 50</span>
        <a href="">전체 페이지</a>
    </div>
    <div class="club_container">
        <div class="clubs" onclick="clubToggle()">&times;
            <span>소모임명</span>
            <span>인원</span>
            <img src="" alt="">
        </div>
    </div>
    <div class="club_info">
        <span>인문 북클럽</span>
        <span>1 / 50</span>
        <a href="">전체 페이지</a>
    </div>
    <div class="club_container">
        <div class="clubs" onclick="clubToggle()">&times;
            <span>소모임명</span>
            <span>인원</span>
            <img src="" alt="">
        </div>
    </div>
    <div class="club_info">
        <span>철학 북클럽</span>
        <span>1 / 50</span>
        <a href="">전체 페이지</a>
    </div>
    <div class="club_container">
        <div class="clubs" onclick="clubToggle()">&times;
            <span>소모임명</span>
            <span>인원</span>
            <img src="" alt="">
        </div>
    </div>
    <div class="club_info">
        <span>과학 북클럽</span>
        <span>1 / 50</span>
        <a href="">전체 페이지</a>
    </div>
    <div class="club_container">
        <div class="clubs" onclick="clubToggle()">&times;
            <span>소모임명</span>
            <span>인원</span>
            <img src="" alt="">
        </div>
    </div>
    <div class="club_info">
        <span>자율 북클럽</span>
        <span>1 / 50</span>
        <a href="">전체 페이지</a>
    </div>
    <div class="club_container">
        <div class="clubs" onclick="clubToggle()">&times;
            <span>소모임명</span>
            <span>인원</span>
            <img src="" alt="">
        </div>
    </div>
    <div class="recommend_profile_container">
        <div class="profile_container">
            <img src="" onclick="moveBunder()">
            <span>이름</span>
        </div>
    </div>
</div> -->
<script>
    function clubToggle() {
        const clubContainer = document.querySelector('.club_container');
        logContainer.classList.toggle('active');
        const popup = document.querySelector('.club_detail');
        popup.classList.toggle('active');
    }
    function moveBunder() {
        location.href = "해당 Bunder Template.html";
    }

</script>
{% endblock content %}