{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/book_club.css' %}" />
{% endblock extrahead %}

{% block content %}
<div class="container">
    <div class="profile_club">
        <h3>나의 소모임</h3>
    </div>
    {% if user.is_authenticated %}
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='new/' class="all_my_reports add_club_btn">북클럽 생성</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container my_book_club_container">
        {% for club in my_club%}
        <div class="my_book_club">
            <a href="/bookclub/{{ club.id }}">
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="container_body_add">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a class="previous previous_btn">이전</a></li>
                <li><span class="current_span">1</span>/{{ total_cnt }}</li>
                <li><a class="next next_btn">다음</a></li>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="book_club_container" style="margin-top: 2rem;">
        <a href={% url 'user:loginpage' %} style="text-decoration:none;color:red;">
            <h1 class="login">로그인이 필요한 서비스입니다</h1>
        </a>
    </div>
    {% endif %}

    <div class="invite_request_container" style="height:10rem;">
        <h3>북클럽 초대 요청</h3>
        <div class="invite_request">
            <div>
                {% if invited_club %}
                {% for club in invited_club %}
                <div class="single_request">
                    <div class="club_info">
                        소모임명: {{ club.club_name }}
                        <a href="/bookclub/{{ club.id }}"><span>더 알아 보기</span></a>
                    </div>
                    <div class="button_container">
                        <button class="request_btn">수락</button>
                        <button class="request_btn">거절</button>
                        <input type="hidden" value="{{ club.id }}" />
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>초대가 없습니다.</div>
                {% endif %}
            </div>
        </div>

    </div>




    <div class="profile_club">
        <h3>인기 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=인기&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.popular %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>문학 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=문학&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.literature %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>예술 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=예술&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.art %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>자기계발 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=자기계발&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.self_development %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>정치/사회 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=정치/사회&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.political_society %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>과학 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=과학&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.science %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>기술/IT 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=기술/IT&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.it %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>인문 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=인문&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.humanities %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="profile_club">
        <h3>자율 북클럽</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href='list?category=자율&page=1' class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        {% for club in book_club.amity %}
        <div class="my_book_club">
            <a href={% url 'book_club:book_club_detail' club.id %}>
                <img class="book_cover" src="../../static/img/club_img_{{ club.image }}.jpg">
            </a>
            <span class="club_name">{{ club.club_name }}</span>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    function clubToggle() {
        const clubContainer = document.querySelector('.club_container');
        logContainer.classList.toggle('active');
        const popup = document.querySelector('.club_detail');
        popup.classList.toggle('active');
    }
    function moveBunder() {
        location.href = "해당 Bunder Template.html";
    }

    const requestButton = document.querySelectorAll(".request_btn")
    const totalCnt = JSON.parse("{{ total_json|escapejs }}");

    requestButton.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const clubId = event.target.parentNode.lastElementChild.value;
            if (event.target.innerText == "수락") {
                inviteRequest(clubId, "MEMBER");
            } else {
                inviteRequest(clubId, "REJECT");
            }
        })
    })

    const inviteRequest = async (clubId, type) => {
        const url = "accept";
        const response = await axios.patch(url, { clubId, type })
        window.location.reload();
    }

    const previousButton = document.querySelector('.previous_btn')
    const nextButton = document.querySelector('.next_btn')
    const currentPage = document.querySelector('.current_span')

    const clubContainer = document.querySelector(".my_book_club_container");



    const requestClub = async (page, flag) => {
        const url = '/bookclub/myclub?page=' + page
        const response = await axios.get(url)
        const clubList = response.data.club_list;
        const prefix = "../../static/img/club_img_";
        const suffix = ".jpg";

        const urlPrefix = "/bookclub/"

        const curr = currentPage.innerText;

		currentPage.innerText =
			flag == 'prev'
				? Number(currentPage.innerText) - 1
				: Number(currentPage.innerText) + 1
		if (Number(currentPage.innerText) == 0) {
            currentPage.innerText = 1;
		} else if (Number(currentPage.innerText) >= totalCnt + 1) {
            currentPage.innerText = 3;
		}


        while (clubContainer.hasChildNodes()) {
            clubContainer.removeChild(clubContainer.firstChild);
        }

        for (let i = 0; i < clubList.length; i++) {
            const bookClubDiv = document.createElement('div');
            const bookClubLink = document.createElement('a');
            const bookClubImg = document.createElement('img');

            bookClubDiv.appendChild(bookClubLink);
            bookClubLink.appendChild(bookClubImg);

            bookClubDiv.classList.add('my_book_club');
            bookClubImg.classList.add('book_cover');

            bookClubLink.setAttribute("href", urlPrefix + clubList[i].id);
            bookClubImg.setAttribute("src", prefix + clubList[i].image + suffix);
            clubContainer.appendChild(bookClubDiv);
        }
    }

    previousButton.addEventListener('click', () => {
        const pageNum = Number(currentPage.innerText)
        if (pageNum > 1) {
            requestClub(pageNum - 1, 'prev')
        }
    })

    nextButton.addEventListener('click', () => {
        const pageNum = Number(currentPage.innerText)
        if (pageNum < totalCnt) {
            requestClub(pageNum + 1, 'next')
        }
    })






</script>
{% endblock content %}