<div class="container">
    북클럽 참여 희망 명단
    북클럽 현재 인원 15/20

    <div class="container_all_requesters">
        <div class="container_single_requester">
            <div class="requester_profile">
                <img class="profile_img" src="">
                닉네임
            </div>
            <input type="submit" value="수락">
            <input type="submit" value="거절">
        </div>

        <div class="container_single_requester">
            <div class="requester_profile">
                <img class="profile_img" src="">
                닉네임
            </div>
            <input type="submit" value="수락">
            <input type="submit" value="거절">
        </div>
    </div>
</div>