{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/club_detail.css' %}" />
{% endblock extrahead %}

{% block title %}
Club Detail
{% endblock title %}

<body>
    {% block content %}
    <div class="container">
        <button class="button" id="request_btn">소모임 참여 요청</button>
        <h1>소모임 명 : {{ book_club.club_name }}</h1>
        <div class="profile_container">
            
				
            <div class="club_info">
                <div class="img_container">
                    <img class="club_img" src="https://avatars.dicebear.com/api/male/바.svg">
                </div>
                <div class="club_description">
                    <p>소모임 소개 : {{ book_club.description }}</p>
                </div>
            </div>
        </div>

        <div class="club_detail_containaer">
            <div class="text">소모임 단원 리스트</div>
            <div class="all_profile_img">
                <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
                <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
                <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
                <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
                <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">    
            </div>
        </div>

        <div class="club_detail_containaer" id="link_container">
            <div class="kakao_link">
                <p>카톡 링크: {{ book_club.kako_link }}</p>
            </div>
            <div class="zoom_link">
                <p>현재 진행중인 토론 줌링크 : {{ book_club.zoom_link }}</p>
            </div>
        </div>
        <div class="club_detail_containaer">
            <div class="text">진행중인 이벤트</div>
            <div class="vote_container">
				{% if not vote %}
				<button class="button" id="vote-create_btn">투표 생성</button>
				<div class="empty-vote">
				    <p>현재 진행중인 투표가 없습니다.</p>
				</div>
				{% else %}
                <button type="button" class="button" id="vote-create_btn deactivate">투표 생성</button>
                <button type="button" class="button"id="vote-delete_btn">투표 삭제</button>
                <div class="empty-vote deactivate">
                    <p>현재 진행중인 투표가 없습니다.</p>
                </div>
                <div class="vote_function">
                    <h4>투표</h4>
                    투표 제목: {{ vote.topic }}
                    기간: {{ vote.start_date }} ~ {{ vote.end_date }}
                    <button class="vote_btn">투표 하러 가기</button>
                </div>
				{% endif %}

            </div>
        </div>

        <div class="club_detail_containaer">
            <div class="present_book_container">
                
                <div class="btn_container">
                    <input type="button" class="button" value="책 수정">
                    <input type="button" class="button" value="책장으로">
                </div>
                <div class="text">현재 읽는 중인 책</div>
                <div class="book_info_container">
                    <div class="book_info_box">
                        <div class="book_img">
                            <!-- <img src="{{book_report.book_img}}" class="book_cover"> -->
                            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                        </div>
                        <div class="book_info">
                            <div class="book_name">
                                <p class="book_name">
                                <div class="text">책 제목</div>
                                <div class="book_info_bar">
                                    : {{book_report.book_name}}
                                </div>
                                </p>
                            </div>
        
                            <div class="author">
                                <p class="author">
                                <div class="text">글쓴이</div>
                                <div class="book_info_bar">
                                    : {{book_report.book_author}}
                                </div>
                                </p>
                            </div>
        
                        </div>
                    </div>

                    
                    
                </div>
            </div>

            <div class="club_bookshelf">
                <!--위의 책장으로 버튼 누르면 여기로 넘어옴-->
                <div class="text">우리 소모임의 책장</div>
                <div class="all_book_cover">
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>
                    <div class="book_cover">
                        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
                    </div>

                </div>
            </div>
        </div>
        <div class="club_detail_containaer">
            <input type="button" class="button" id="edit_club_btn" value="북클럽 수정">
        </div>
        
    </div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		const requestButton = document.querySelector(".request_btn");
        const voteCreateButton = document.querySelector(".vote-create_btn");
        const voteDeleteButton = document.querySelector(".vote-delete_btn");
        const voteListButton = document.querySelector(".vote_btn");

        const bookClubId = JSON.parse("{{ bookclub_id|escapejs }}");
		let voteId;
        try {
            voteId = JSON.parse("{{ vote_id|escapejs }}");
            voteListButton.addEventListener('click', ()=> {
                voteList(bookClubId, voteId)
            })
            const deleteVote = async (id) => {
                const url = "vote?clubId=" + id;
                await axios.delete(url,{ id });
            }

            voteDeleteButton.addEventListener('click', (event)=> {
                const voteDiv = event.target.parentElement;
                voteDiv.lastElementChild.classList.add("deactivate");
                event.target.classList.add("deactivate");
                voteCreateButton.classList.remove("deactivate");

				const emptyDiv = document.querySelector(".empty-vote")
                emptyDiv.classList.remove("deactivate");

                deleteVote(bookClubId)
            })

            const voteList = async (clubid, voteId) => {
                window.location.href = "vote/list?clubId=" + clubid + "&voteId=" + voteId;
            }

        } catch (error) {
            console.log(error);
        }

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        requestButton.addEventListener('click', ()=> {
            requestMember(bookClubId)
		})

        voteCreateButton.addEventListener('click', ()=> {
            createVote(bookClubId)
		})


		const requestMember = async (id) => {
			const url = "member/";
			await axios.post(url,{ id });
		}

        const createVote = async (id) => {
            window.location.href = "vote?clubId=" + id;
		}


	</script>
    {% endblock content %}

</body>

</html>