{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/club_revise.css' %}" />
{% endblock extrahead %}

{% block title %}
Club Revise
{% endblock title %}

{% block content %}
<div class="container">
	<div class="club-edit_header">
		<h2>Club Revise</h2>
		<button class="login" type="submit" value="Club closure">소모임 폐쇄</button>
	</div>
    <form method="post" action="{% url 'book_club:book_club_edit' book_club.id %}">
		{% csrf_token %}
        <div class="club_info_container">
            <div class="box_container">
                <div class="inputBox">
                    <input type="text" required="required" name='clubname' id='clubname' value=" {{ book_club.club_name }}">
                    <span class="first">소모임 명</span>
                </div>
                <div class="link_box">
                    <div class="inputBox">
                        <input type="text" required="required" name='zoom_link' id='link' value="{{ book_club.zoom_link }}">
                        <span class="second">소모임 Zoom Link</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" required="required" name='kakao_link' id='link' value=" {{ book_club.kakao_link }}">
                        <span class="second">소모임 KakaoTalk Link</span>
                    </div>
                </div>
            </div>
    
            <div class="report_content" >
                <textarea name="content" id="content" placeholder="소모임 소개">{{ book_club.description }}</textarea>
            </div>
        </div>

        <div class="club_img_container">
            <h3 class="body">소모임 이미지 선택</h3>
            <div class="container_body">
                <div class="pagination_container">
                    <ul class="pagination">
                        <li><a href="#" class="previous">Previous</a></li>
                        <li><a href="#none">1/5</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </div>
            </div>
    
            <section class="category_container">
                <label class="category">
                    <input type="radio" value="1" name="club_img" checked class="radio__input image_input">
                    <div class="category__box"></div>
                    <span class="category__text"><img src="../../static/img/club_img_1.jpg"></span>
                </label>
                <label class="category">
                    <input type="radio" value="2" name="club_img" class="radio__input image_input">
                    <div class="category__box"></div>
                    <span class="category__text"><img src="../../static/img/club_img_2.jpg"></span>
                </label>
                <label class="category">
                    <input type="radio" value="3" name="club_img" class="radio__input image_input">
                    <div class="category__box"></div>
                    <span class="category__text"><img src="../../static/img/club_img_3.jpg"></span>
                </label>
                <label class="category">
                    <input type="radio" value="4" name="club_img" class="radio__input image_input">
                    <div class="category__box"></div>
                    <span class="category__text"><img src="../../static/img/club_img_4.jpg"></span>
                </label>
            </section>
        </div>


        <div class="club_category_container">
            <h3 class="decorator decorator_indent-b_l">소모임 카테고리</h3>
            <section class="genre_container">
                <label class="genre">
                    <input type="radio" value="문학" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">문학</span>
                </label>
                <label class="genre">
                    <input type="radio" value="예술" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">예술</span>
                </label>
                <label class="genre">
                    <input type="radio" value="자기계발" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">자기계발</span>
                </label>
                <label class="genre">
                    <input type="radio" value="정치/사회" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">정치/사회</span>
                </label>
                <label class="genre">
                    <input type="radio" value="과학" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">과학</span>
                </label>
                <label class="genre">
                    <input type="radio" value="기술/IT" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">기술/IT</span>
                </label>
                <label class="genre">
                    <input type="radio" value="인문" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">인문</span>
                </label>
                <label class="genre">
                    <input type="radio" value="기타" name="book_category" class="radio__input category_input">
                    <div class="radio__box"></div>
                    <span class="radio__text">기타</span>
                </label>
            </section>
        </div>

        <div class="club_member_container">
			<div class="button_container">
				<input type="button" class="member-edit_btn" value="멤버 삭제">
				<a href="/bookclub/admit?clubId={{ book_club.id }}">
					<input type="button" class="member-edit_btn" value="멤버 요청 확인">
				</a>
			</div>
            <div>
				<h3>소모임 멤버 리스트</h3>
                <div class="club_people_number">
                    소모임 현재 인원
                     <span class="member-cnt_span">{{book_club.member_cnt}}/{{book_club.member_total}}</span>
                </div>
            </div>
            
    
            <div class="container_all_requesters">
                {% if not user_list %}
				<div class="empty-member">
				    <p>북클럽에 아무도 없습니다.</p>
				</div>
				{% else %}
                {% for user in user_list %}
                <div class="container_single_requester">
                    <div class="requester_profile_container">
                        <div class="profile_img_container">
                            <img class="profile_img" src="{{ user.avatar }}">
                        </div>
                        <div class="profile_name_container">
                            {{ user.nickname }}
                        </div>
                    </div>
{#                    <div class="button_container">#}
{#                        <button class="request_btn" onclick="">강제퇴장</button>#}
{#                    </div>#}
                </div>
            {% endfor %}
				{% endif %}
                
            </div>
        </div>
        
        {{error}}

        <div class="edit_button_container">
            <button class="login" type="submit" value="Sign up">소모임 수정</button>
        </div>
    </form>
</div>
<script>
    const category = JSON.parse("{{ category|escapejs }}");
    const image = JSON.parse("{{ image|escapejs }}");

    const categorySelect = document.querySelectorAll(".category_input");
    const imageSelect = document.querySelectorAll(".image_input");


    categorySelect.forEach((el) => {
        if (el.value == category) {
            el.setAttribute("checked", "checked")
		}
	})

    imageSelect.forEach((el) => {
        if (el.value == image) {
            el.setAttribute("checked", "checked")
		}
	})


</script>
{% endblock content %}
