{% extends "base/base.html" %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/club_invite.css' %}" />
{% endblock extrahead %}
{% block title %} Add Club {% endblock title %}

{% block content %}
<div class="container">
  <h2>Invite My Club</h2>
  <form method="post">
    <h3 class="body">소모임 선택</h3>
    <section class="category_container">
      <label class="category">
        <input type="radio" value="1" name="club_img" checked class="radio__input cover_input" />
        <div class="category__box"></div>
        <span class="category__text">
          <img class="cover_image" src="../../static/img/club_img_1.jpg" />
        </span>
        <div class="my_book_club_info">
          <div>소모임명 : 가나다테스트</div>
          <div>인원 : 1/5</div>
        </div>
      </label>
      <label class="category">
        <input type="radio" value="2" name="club_img" class="radio__input cover_input" />
        <div class="category__box"></div>
        <span class="category__text">
          <img class="cover_image" src="../../static/img/club_img_2.jpg" />
        </span>
        <div class="my_book_club_info">
          <div>소모임명 : 가나다테스트</div>
          <div>인원 : 1/5</div>
        </div>
      </label>
      <label class="category">
        <input type="radio" value="3" name="club_img" class="radio__input cover_input" />
        <div class="category__box"></div>
        <span class="category__text">
          <img class="cover_image" src="../../static/img/club_img_3.jpg" />
        </span>
        <div class="my_book_club_info">
          <div>소모임명 : 가나다테스트</div>
          <div>인원 : 1/5</div>
        </div>
      </label>
      <label class="category">
        <input checked type="radio" value="4" name="club_img" class="radio__input cover_input" />
        <div class="category__box"></div>
        <span class="category__text">
          <img class="cover_image" src="../../static/img/club_img_4.jpg" />
        </span>
        <div class="my_book_club_info">
          <div>소모임명 : 가나다테스트</div>
          <div>인원 : 1/5</div>
        </div>
      </label>
      <label class="category">
        <input checked type="radio" value="4" name="club_img" class="radio__input cover_input" />
        <div class="category__box"></div>
        <span class="category__text">
          <img class="cover_image" src="../../static/img/club_img_4.jpg" />
        </span>
        <div class="my_book_club_info">
          <div>소모임명 : 가나다테스트</div>
          <div>인원 : 1/5</div>
        </div>
      </label>
    </section>
    <h3 class="decorator decorator_indent-b_l">번더의 인물 추천</h3>
    <div class="book_club_container">
      <div class="all_profile_container">
        <div class="member_box">
          <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
          <span>추천 닉네임<span>
        </div>
        <div class="member_box">
          <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
          <span>추천 닉네임<span>
        </div>
        <div class="member_box">
          <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
          <span>추천 닉네임<span>
        </div>
      </div>
    </div>
    <button class=" login" type="submit" value="Sign up">소모임 초대</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


{% endblock content %}