{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/club_admit.css' %}" />
{% endblock extrahead %}

{% block title %}
Club Admit
{% endblock title %}

{% block content %}
<div class="container">
    북클럽 참여 희망 명단
    북클럽 현재 인원 {{book_club.member_cnt}}/{{book_club.member_total}}

    <div class="container_all_requesters">
		{% for member in members %}
			<div class="container_single_requester" style="display: flex;">
				<div class="requester_profile">
					<img class="profile_img" src="{{ member.user.avatar }}">
					{{ member.user.nickname }}
				</div>
				<input type="submit" value="수락">
				<input type="submit" value="거절">
			</div>
		{% endfor %}

    </div>
</div>
{% endblock content %}