{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/club_detail.css' %}" />
{% endblock extrahead %}

{% block title %}
Club Detail
{% endblock title %}

<body>
    {% block content %}
    <div class="container">

        {% if is_owner %}
        {% elif is_member %}
        <button class="button" id="exit_btn">소모임 나가기</button>
        {% else %}
        <button class="button" id="request_btn">소모임 참여 요청</button>
        {% endif %}
        <h1>소모임 명 : {{ book_club.club_name }}</h1>
        <div class="profile_container">


            <div class="club_info">
                <div class="img_container">
                    <img class="club_img" src="../../static/img/club_img_{{ book_club.image }}.jpg">
                </div>
                <div class="club_description">
                    <p>소모임 소개 : {{ book_club.description }}</p>
                </div>
            </div>
        </div>

        <div class="club_detail_containaer">
            <div class="text">소모임 단원 리스트</div>
            <div class="all_profile_container">
                {% for member in user_list %}
                <div class="member_box">
                    <img class="profile_img" src="{{ member.avatar }}">
                    <span>{{ member.nickname }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="club_detail_containaer" id="link_container">
            <div class="kakao_link">
                <a href="{{ book_club.kakao_link }}" class="link">Kakao Talk</a>
            </div>
            <div class="zoom_link">
                <a href="{{ book_club.zoom_link }}" class="link">Zoom</a>
            </div>
        </div>
        <div class="club_detail_containaer">
            <div class="club_detail_header">
                <div class="event_div">진행중인 투표</div>
                {% if not vote and is_owner %}
                <div class="btn_container">
                    <button class="button" id="vote-create_btn">투표 생성</button>
                    <button type="button" class="button deactivate" id="vote-delete_btn">투표 삭제</button>
                </div>
                {% elif vote and is_owner %}
                <div class="btn_container">
                    <button type="button" class="button" id="vote-delete_btn">투표 삭제</button>
                    <button type="button" class="button deactivate" id="vote-create_btn">투표 생성</button>
                </div>
                {% endif %}
            </div>
            <div class="vote_container club_book_list">
                {% if not vote %}
                <div class="empty-vote">
                    <p>현재 진행중인 투표가 없습니다.</p>
                </div>
                {% else %}
                <div class="empty-vote deactivate empty_list">
                    <p>현재 진행중인 투표가 없습니다.</p>
                </div>
                <div class="vote_function">
                    <div class="club_detail_header">
                        <div class="text">투표</div>
                        {% if is_member %}
                        <button class="button vote_btn">투표 하러 가기</button>
                        {% endif %}
                    </div>
                    <div class="vote_info">
                        <div>투표 제목: {{ vote.topic }}</div>
                        <div>기간: {{ vote.start_date }} ~ {{ vote.end_date }}</div>
                    </div>

                </div>
                {% endif %}

            </div>
        </div>
        <div class="club_detail_containaer">
            <div class="club_detail_header">
                <div class="event_div">최근 종료 투표</div>
            </div>
            <div class="vote_container club_book_list">
                {% if not end_vote %}
                <div class="empty-vote">
                    <p>현재 종료된 투표가 없습니다.</p>
                </div>
                {% else %}
                <div class="empty-vote empty_list">
					<div class="vote_info">
						<div>투표 제목: {{ end_vote.topic }}</div>
						<div>1등 결과</div>
						{% for one in onset_list %}
							<div>
								<span>내용: {{ one.description }}</span>
							</div>
						{% endfor %}
						<br />
						{% for each_vote in end_vote_list %}
							<div>
								<span>내용: {{ each_vote.description }}</span>
								<span>득표수: {{ each_vote.vote_cnt }}</span>
							</div>
						{% endfor %}
{#						<div>기간: {{ end_vote.start_date }} ~ {{ end_vote.end_date }}</div>#}
					</div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="club_detail_containaer">
            <div class="present_book_container">

                <div class="btn_container">
                    <a href="book?clubId={{ book_club.id }}">
                        {% if not book_info and is_owner %}
                        <input type="button" class="button book-edit_btn" value="책 올리기">
                        {% elif book_info and is_owner %}
                        <input type="button" class="button book-edit_btn" value="책 수정">
                        {% endif %}
                    </a>
                    {% if book_info %}
                    <input type="button" class="button book-remove_btn" value="책장으로">
                    {% endif %}
                </div>

                <div class="text">현재 읽는 중인 책</div>
                <div class="book_info_container current-book_container club_book_list">
                    {% if not book_info %}
                    <div class="empty-present_book empty_list">
                        <p>현재 읽고 있는 책이 없습니다.</p>
                    </div>
                    {% endif %}
                    {% if book_info %}
                    <div class="book_info_box current-book_container ">
                        <div class="book_img">
                            <!-- <img src="{{book_report.book_img}}" class="book_cover"> -->
                            <img class="book_cover" src="{{ book_info.book_img }}">
                        </div>
                        <div class="book_info">
                            <div class="book_name">
                                <p class="book_name">
                                <div class="text">책 제목</div>
                                <div class="book_info_bar">
                                    {{book_info.book_name}}
                                </div>
                                </p>
                            </div>

                            <div class="author">
                                <p class="author">
                                <div class="text">글쓴이</div>
                                <div class="book_info_bar">
                                    {{book_info.book_author}}
                                </div>
                                </p>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>

            <div class="club_bookshelf">
                <!--위의 책장으로 버튼 누르면 여기로 넘어옴-->
                <div class="text">우리 소모임의 책장</div>
                <div class="all_book_cover book club_book_list" id="book_container">
                    {% if not book_list %}
                    <div class="empty-book_list empty_list">
                        <p>현재 소모임 책장이 비어있습니다.</p>
                    </div>
                    {% endif %}
                    {% for each_book in book_list %}
                    <div class="book_cover">
                        <img class="book_cover" src="{{ each_book.book_img }}">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        {% if is_owner %}
        <div class="edit_container">
            <a href="{% url 'book_club:book_club_edit' book_club.id %}">
                <input type="button" class="button" id="edit_club_btn" value="북클럽 수정">
            </a>
        </div>
        {% endif %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const voteCreateButton = document.querySelector("#vote-create_btn");
        const voteDeleteButton = document.querySelector("#vote-delete_btn");
        const voteListButton = document.querySelector(".vote_btn");
        const requestButton = document.querySelector("#request_btn");

        const exitButton = document.querySelector("#exit_btn");

        const removeBookButton = document.querySelector(".book-remove_btn");
        const bookContainer = document.querySelector("#book_container");
        const currentBook = document.querySelector(".current-book_container");

        const bookEditButton = document.querySelector(".book-edit_btn");
        const emptyDiv = document.querySelector(".empty-book_list");

        const voteContainer = document.querySelector(".vote_function");

        const bookClubId = JSON.parse("{{ bookclub_id|escapejs }}");
        const userId = JSON.parse("{{ user_id|escapejs }}");
        const isFull = JSON.parse("{{ is_full_json|escapejs }}");
        let bookId;
        let voteId;

        try {
            voteId = JSON.parse("{{ vote_id|escapejs }}");

            const voteList = async (clubid, voteId) => {
                window.location.href = "vote/lis" +
                    "t?clubId=" + clubid + "&voteId=" + voteId;
            }

            voteListButton.addEventListener('click', () => {
                voteList(bookClubId, voteId)
            })
            const deleteVote = async (id) => {
                const url = "vote?clubId=" + id;
                await axios.delete(url, { id });
            }

            voteDeleteButton.addEventListener('click', () => {
                voteContainer.classList.add("deactivate");
                voteDeleteButton.classList.add("deactivate");
                voteCreateButton.classList.remove("deactivate");

                const emptyDiv = document.querySelector(".empty-vote")
                emptyDiv.classList.remove("deactivate");

                deleteVote(bookClubId)
            })



        } catch (error) {
            console.log(error);
        }

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        if (voteCreateButton !== null) {
            voteCreateButton.addEventListener('click', () => {
                createVote(bookClubId)
            })
        }

        if (requestButton == null && exitButton !== null) {
            exitButton.addEventListener('click', () => {
                exitClub(bookClubId, userId);
            })
        } else if (exitButton == null && requestButton !== null) {
            requestButton.addEventListener('click', () => {
                requestMember(bookClubId)
            })
        }

        const requestMember = async (id) => {
            const url = "member/";
            await axios.post(url, { id });
        }

        const exitClub = async (bookClubId, userId) => {
            const url = "member/"
            console.log(bookClubId, userId)
            await axios.delete(url, {
                data: {
                    bookClubId: bookClubId,
                    userId: userId
                }
            })
            window.location.reload();
        }

        const createVote = async (id) => {
            window.location.href = "vote?clubId=" + id;
        }
        try {
            bookId = JSON.parse("{{ book_id|escapejs }}");
            removeBookButton.addEventListener('click', () => {
                removeBook(bookId)
            })

            const removeBook = async (bookId) => {
                const url = "book";
                const response = await axios.patch(url, { bookId });

                const div = document.createElement('div');
                const img = document.createElement('img');
                div.classList.add("book_cover");
                img.classList.add("book_cover");
                div.appendChild(img);
                bookContainer.insertBefore(div, bookContainer.firstChild);
                if (isFull) {
                    bookContainer.removeChild(bookContainer.lastElementChild);
                }
                img.src = response.data.img;
                bookEditButton.value = "책 올리기";
                currentBook.classList.add("deactivate");
                removeBookButton.classList.add("deactivate");
                if (emptyDiv !== null) {
                    emptyDiv.classList.add("deactivate");
                }

            }
        } catch (error) {
            console.log(error)
        }



    </script>
    {% endblock content %}

</body>

</html>