{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/club_detail.css' %}" />
{% endblock extrahead %}

{% block title %}
Club Detail
{% endblock title %}

<body>
    {% block content %}
    <div class="container">
        <div class="profile_container">
            <div class="img_container">
                <img class="club_img" src="">
            </div>
			<button class="request_btn">소모임 참여 요청</button>
            <div class="club-informatioon">
                <h1>소모임 명</h1>
				{{ book_club.club_name }}
                <p>소모임 소개</p>
				{{ book_club.description }}
                <div class="kakao_link">
                    <p>카톡 링크: {{ book_club.kako_link }}</p>
                </div>
            </div>
        </div>
        <div class="club_detail_containaer">
            <!--profile hover effect : 이름, 나이, 선호장르-->
            <img class="profile_img" src="">
            <img class="profile_img" src="">
            <img class="profile_img" src="">
            <img class="profile_img" src="">
            <img class="profile_img" src="">
        </div>
        <div class="club_detail_containaer">
            <div>누적 토론 횟수</div>
            <div>현재 진행중인 토론 줌링크</div>
			{{ book_club.zoom_link }}
        </div>
        <div class="club_detail_containaer">
            진행중인 이벤트
            <div class="vote_container">
				{% if not vote %}
				<button class="vote-create_btn">투표 생성</button>
				<div class="empty-vote">
				<p>현재 진행중인 투표가 없습니다.</p>
				</div>
				{% else %}
					<button class="vote-create_btn deactivate">투표 생성</button>
					<button class="vote-delete_btn">투표 삭제</button>
					<div class="deactivate empty-vote">
						<p>현재 진행중인 투표가 없습니다.</p>
					</div>
					<div class="vote_function">
						<h4>투표</h4>
						투표 제목: {{ vote.topic }}
						기간: {{ vote.start_date }} ~ {{ vote.end_date }}
						<button class="vote_btn">투표 하러 가기</button>
					</div>
				{% endif %}

            </div>
        </div>
        <div class="club_detail_containaer">
            <div class="book_container">
                현재 읽는 중인 책
				<a href="book?clubId={{ book_club.id }}">
                	<input type="button" class="book-edit_btn" value="책 수정">
				</a>
                <input type="button" class="book-remove_btn" value="책장으로">
				{% if book_info %}
                <div class="book current-book_container">
                    <div class="book_cover">
                        <img class="book_cover" src="{{ book_info.book_img }}">
                    </div>
                    책 제목: {{ book_info.book_name }}
					<br />
                    글쓴이: {{ book_info.book_author }}
                </div>
				{% endif %}
            </div>
            <div class="club_bookshelf">
                <!--위의 책장으로 버튼 누르면 여기로 넘어옴-->
                우리 소모임의 책장
                <div class="book" id="book_container" style="display: flex;">
					{% for each_book in book_list %}
						<div class="book_cover">
							<img class="book_cover" src="{{ each_book.book_img }}">
						</div>
					{% endfor %}
                </div>
            </div>
        </div>
        <input type="button" value="북클럽 수정">
    </div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		const requestButton = document.querySelector(".request_btn");
        const voteCreateButton = document.querySelector(".vote-create_btn");
        const voteDeleteButton = document.querySelector(".vote-delete_btn");
        const voteListButton = document.querySelector(".vote_btn");

        const removeBookButton = document.querySelector(".book-remove_btn");
        const bookContainer = document.querySelector("#book_container");
        const currentBook = document.querySelector(".current-book_container")

        const bookClubId = JSON.parse("{{ bookclub_id|escapejs }}");
        let bookId;
        let voteId;
        try {
            voteId = JSON.parse("{{ vote_id|escapejs }}");
            voteListButton.addEventListener('click', ()=> {
                voteList(bookClubId, voteId)
            })
            const deleteVote = async (id) => {
                const url = "vote?clubId=" + id;
                await axios.delete(url,{ id });
            }

            voteDeleteButton.addEventListener('click', (event)=> {
                const voteDiv = event.target.parentElement;
                voteDiv.lastElementChild.classList.add("deactivate");
                event.target.classList.add("deactivate");
                voteCreateButton.classList.remove("deactivate");

				const emptyDiv = document.querySelector(".empty-vote")
                emptyDiv.classList.remove("deactivate");

                deleteVote(bookClubId)
            })

            const voteList = async (clubid, voteId) => {
                window.location.href = "vote/list?clubId=" + clubid + "&voteId=" + voteId;
            }

        } catch (error) {
            console.log(error);
        }

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        requestButton.addEventListener('click', ()=> {
            requestMember(bookClubId)
		})

        voteCreateButton.addEventListener('click', ()=> {
            createVote(bookClubId)
		})


		const requestMember = async (id) => {
			const url = "member/";
			await axios.post(url,{ id });
		}

        const createVote = async (id) => {
            window.location.href = "vote?clubId=" + id;
		}
		try {
            bookId = JSON.parse("{{ book_id|escapejs }}");
            removeBookButton.addEventListener('click', ()=> {
                removeBook(bookId)
            })

            const removeBook = async (bookId) => {
                const url = "book"
                const response = await axios.patch(url, {bookId});

                const div = document.createElement('div')
                const img = document.createElement('img')
                div.classList.add("book_cover");
                img.classList.add("book_cover");
                div.appendChild(img);
                bookContainer.insertBefore(div, bookContainer.firstChild);

                bookContainer.removeChild(bookContainer.lastElementChild);
                img.src = response.data.img;

                currentBook.classList.add("deactivate")

            }
		} catch (error) {
            console.log(error)
		}



	</script>
    {% endblock content %}

</body>

</html>