{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/vote.css' %}" />
{% endblock extrahead %}

{% block title %}
	Vote
{% endblock title %}
<body>
{% block content %}
	<div class="container">

		<form method="post">
			{% csrf_token %}
			<div class="vote_info">
				<div class="inputBox">
					<div class="text"><span>투표 주제</span></div>
					<div class="input_bar">{{vote.topic}}</div>
				</div>
				<div class="time">
					<div class="text"><span>투표 기간</span></div>
					<div class="input_bar">
						{{ vote.start_date }} ~ {{ vote.end_date }}
					</div>
				</div>
			</div>
			
			<div class="input_bar" id="vote-list">
				{% for vote in voteList %}
				<div class="single_vote_item">
					<label for="vote{{ forloop.counter }}" class="vote_item_info">{{ vote.description }}</label>
					<input type="radio" name="vote" id="vote{{ forloop.counter }}" class="vote_item_info" value="{{ vote.id }}">
				</div>
				{% endfor %}
			</div>
			
			<input type="submit" class="button" value="Vote">

		</form>
	</div>
{% endblock content %}
</body>