{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}

{% endblock extrahead %}

{% block title %}
	Vote
{% endblock title %}

{% block content %}
	<div class="container">
		<form method="post">
			{% csrf_token %}
			<div class="inputBox">
				<span>투표 주제 : {{vote.topic}}</span>

			</div>
			<input type="date" name="startvote" id="startvote">
			<input type="date" name="endvote" id="endvote">
			{# TODO: JS로 동적 생성가능하게 만들어야 함 #}
			<div style="display:flex;flex-direction:column;width:300px">
				<div class="inputBox" style="display:flex">
					<span>항목1</span>
					<input type="text" name="input[]">
				</div>
				<div class="inputBox" style="display:flex">
					<span>항목2</span>
					<input type="text" name="input[]">
				</div>
				<div class="inputBox" style="display:flex">
					<span>항목3</span>
					<input type="text" name="input[]">
				</div>
				<div class="inputBox" style="display:flex">
					<span>항목4</span>
					<input type="text" name="input[]">
				</div>

			</div>
			<button>제출</button>
		</form>
	</div>
{% endblock content %}