{% extends "base/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_club/vote.css' %}" />
{% endblock extrahead %}

{% block title %}
	Vote
{% endblock title %}

{% block content %}
	<div class="container">
		<form method="post">
			{% csrf_token %}
			<div class="inputBox">
				<span>투표 주제 : {{vote.topic}}</span>

			</div>
			기간: {{ vote.start_date }} ~ {{ vote.end_date }}
			{% for vote in voteList %}
				<div style="display:flex;align-items:center">
					<label for="vote{{ forloop.counter }}">{{ vote.description }}</label><br>
					<input type="radio" name="vote" id="vote{{ forloop.counter }}" value="{{ vote.id }}">
				</div>
			{% endfor %}
			<input type="submit" value="Vote">

		</form>
	</div>
{% endblock content %}