body {
    display: flex;
    justify-content: center;
    min-height: 150vh;
}
.container {
    position: relative;
    height: 100%;
    top: 10rem;
    width: 80%;
    padding: 3rem;
    background-color: #33383D;
    border-radius: 2rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    color: #a6a7a9;
}

.container .profile_reports {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 5px solid #ed591a;
    width: 19%;
    height: 3rem;
    left: 1%;
    top: -7rem;
}

/* .container .reports_container .report_name_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 2%;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 20px 20px 22px #25292d, -20px -20px 22px #41474d;;
    margin-top: 1rem;
} */
.container .reports_container .report_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4%;
    left: 2%;
    width: 95%;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 20px 20px 22px #25292d, -20px -20px 22px #41474d;;
    margin-top: 3rem;
    cursor: pointer;
}

.container .reports_container .report_container a {
    text-decoration: none;
    font-weight: 700;
    color: #f7f7f7;
    font-size: 1.25rem
}

.first_container {
    position: relative;
    top: -2.5rem;
}