body {
    display: flex;
    justify-content: center;
    min-height: 150vh;
}
.container {
    position: relative;
    height: 100%;
    top: 10rem;
    width: 65%;
    padding: 3rem;
    background-color: #33383D;
    border-radius: 2rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    color: #a6a7a9;
}

.container .profile_reports {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 5px solid #ed591a;
    width: 23%;
    height: 3rem;
    left: 1%;
    top: -7rem;
}

.container .reports_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -4rem;
    left: 2%;
    width: 95%;
    height: 100%;
    border-radius: 1rem;
    margin-top: 4rem;
    cursor: pointer;
}

.container .reports_container .report_container a {
    text-decoration: none;
    font-weight: 700;
    color: #f7f7f7;
    font-size: 1.25rem
}



.container .reports_container {
    display: flex;
}

.container .reports_container .img_container {
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;;
}

.container .reports_container .img_container img {
    position: absolute;
    left: 1.2rem;
    top: 1.4rem;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.container .reports_container .info_container {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 12rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    margin-left: 5rem;
}

.container .reports_container .info_container h3 {
    padding: 2.3rem;
    width: 80%;
}

.report {
    font-size: 1.5rem;
}