body {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    margin: 0.5rem 14%;
    color: #a6a7a9;
}
.container {
    position: relative;
    width: 50%;
    /* height: 100%; */
    background-color: #33383D;
    border-radius: 3rem;
    box-shadow:  20px 20px 22px #25292d, -20px -20px 22px #41474d;
    /* text-shadow: 1px 1px 0 #FFF; */
}

.container h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    line-height: 1em;
    font-weight: 700;
    padding-left: 10px;
    border-left: 5px solid #ed591a;
}

.container .all_container {
    padding: 10%;
}

.container .profile_container {
    display: flex;
    justify-content: space-around;
}

.container .profile_container .img_container {
    position: relative;
    width: 7rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #33383D;
    box-shadow: 10px 10px 11px #25292d, -10px -10px 11px #41474d;
}

.container .profile_container .img_container img {
    position: absolute;
    left: 0.7rem;
    top: 0.6rem;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.container .profile_container .name_container {
    position: relative;
    width: 70%;
    height: 15rem;
    /* overflow: scroll; */
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .profile_container .name_container h3 {
    position: relative;
    width: 80%;
    letter-spacing: 0.1rem;
}

.container_body {
    place-items: center;
    text-align: center;
}

.pagination_container {
    border-radius: 1rem;
}
.pagination {
    display: flex;
    list-style: none;
    margin-top: 7%;
    margin-right: 5%;
    justify-content: flex-end;
}
.pagination li {
    /* flex: 1; */
    margin: 0 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px #b94514, -4px -4px 8px #ff6d20;
    background-color: #ed591a;
}

.pagination li a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    height: 3rem;
    width: 9rem;
    display: block;
    line-height: 3rem;
}

.pagination a {
    border-radius: 1rem;
}
.pagination a:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.pagination a:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}