body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686868;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 35rem;
    background-color: #33383D;
    border-radius: 3rem;
    box-shadow: 20px 20px 22px #25292d, -20px -20px 22px #41474d;
    padding: 3.5rem;
}

.container h2 {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    line-height: 1em;
    font-weight: 700;
    padding-left: 1rem;
    color: #ffffff;
    border-left: 5px solid #ed591a;
}



.profile_container {
    width: 28rem;
    overflow: hidden;
    border-radius: 1rem;
    color: #a6a7a9;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner_container {
    position: relative;
    padding: 1rem;
    margin: 1rem;
}

.inner_container > * {
    margin: 1.5rem 0;
}


.container .inputBox {
    display: flex;
    position: relative;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 19rem;
    height: 3rem;
    margin-bottom: 1.8rem;
    border: 0;
    outline: 0;
    border-radius: 320px;
    background-color: #33383D;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    box-shadow:  0 0 0px 1000px white 00.1s inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white 00.1s inset !important;
}

.container .inputBox span {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    padding: 3%;
    display: inline-block;
    transition: 0.5s;
    pointer-events: none;
}

.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span {
    transform: translateX(-0.7rem);
    transform: translateY(-2rem);
    font-size: 0.85rem;
}

.button {
    box-shadow: 9px 9px 18px #b94514, -9px -9px 18px #ff6d20;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
}

.button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}


.button{
    text-align: center;
    display: inline;
    width: 40%;
    height: 3rem;
    color: #ffffff;
    background-color: #ed591a;
    margin-left: 60%;
}

#book_category {
    border: none;
    position: relative;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    color: #a6a7a9;
    background: transparent;
}

.input_bar {   /* 독후감 제목, 책제목, 책제목 검색 입력창 */
    width: 80%;
    /* margin: 0px 20px; */
    padding : 0.7rem;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    color: #a6a7a9;
    font-weight: 300;
    border: none;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 10px;
    background: transparent;
}
