* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div,
p,
span,
input {
  color: #babecc;
}

.container {
  position: relative;
  width: 70%;
  margin: 6rem;
  padding: 70px 40px 20px 40px;
  background-color: #33383d;
  border-radius: 30px;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.container h2 {
  color: #d3d4d5;
  margin-bottom: 45px;
  line-height: 1em;
  font-weight: 600;
  padding-left: 10px;
  border-left: 5px solid #514a77;
}

.container h3 {
  color: #a6a7a9;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 1em;
  font-weight: 600;
  padding-left: 10px;
  border-left: 5px solid #514a77;
}

.container .body {
  margin-bottom: -1rem;
}

.container .inputBox {
  display: flex;
  position: relative;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  width: 20rem;
  height: 3rem;
  margin-bottom: 1.8rem;
}

.container .inputBox:nth-child(1) {
  width: 30%;
}
.container .inputBox:nth-child(2) {
  width: 50%;
  display: none;
}

.container .inputBox:nth-child(4) {
  border-radius: 1rem;
  width: 100%;
  height: 15rem;
}

.container .inputBox:nth-child(3) {
  width: 18%;
  margin-left: 1rem;
}

.container .inputBox_radio {
  display: flex;
  position: relative;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  width: 3.5rem;
  height: 2rem;
  margin-bottom: 1.8rem;
  border: 0;
  outline: 0;
  border-radius: 320px;
  background-color: #33383d;
}

.container .inputBox,
button {
  border: 0;
  outline: 0;
  border-radius: 320px;
  background-color: #33383d;
}

.container .inputBox:nth-child(5) {
  width: 4rem;
}

.container .inputBox input {
  position: absolute;
  top: 9%;
  left: 4%;
  width: 100%;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  color: #111;
  font-weight: 300;
  border: none;
}

.container .inputBox span {
  padding: 3%;
  display: inline-block;
  transition: 0.5s;
  pointer-events: none;
}

.container .inputBox .first {
  position: absolute;
  top: 17%;
  left: 5%;
}
.container .inputBox .second {
  position: absolute;
  top: 8%;
  left: 3%;
}
.container .inputBox .third {
  position: absolute;
  top: 25%;
  left: 10%;
}
.container .inputBox h4 {
  position: absolute;
  top: 33%;
  left: 3%;
}

.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span {
  transform: translateX(-0.7rem);
  transform: translateY(-2rem);
  font-size: 0.85rem;
}

.container .inputBox .second:focus ~ span,
.container .inputBox .secon:valid ~ span {
  transform: translateX(-0.7rem);
  transform: translateY(-2rem);
  font-size: 0.85rem;
}

.container .inputBox input:focus ~ h4,
.container .inputBox input:valid ~ h4 {
  transform: translateX(-0.7rem);
  transform: translateY(-2rem);
  font-size: 0.85rem;
  transition: 0.5s;
}

button {
  /* color: #61677C; */
  /* font-weight: bold; */
  box-shadow: 6px 7px 6px #24232b, -7px -6px 11px #686a72;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  padding: 0.5rem;
  background-color: #303a47;
}

button:hover {
  box-shadow: 5px 5px 8px #766f96, -9px -9px 9px #221f2f !important;
}

button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.login {
  text-align: center;
  display: inline;
  margin: 1.5rem;
  margin-left: 72%;
  width: 25%;
  height: 3rem;
  color: #813818;
  background-color: #514a77;
  box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
}

.genre_container {
  display: flex;
  width: 110%;
  flex-wrap: wrap;
}

.category_container {
  display: flex;
  width: 100%;
  height: 10rem;
  flex-wrap: wrap;
  border-radius: 30px;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.genre {
  width: 24%;
  cursor: pointer;
  align-items: center;
  font-size: 1.3rem;
  color: #9baacf;
  cursor: pointer;
}

.category {
  width: 25%;
  cursor: pointer;
  align-items: center;
  font-size: 1.3rem;
  color: #9baacf;
  cursor: pointer;
}

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__box {
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #96939b;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),
    inset -1px -1px 1px rgba(12, 13, 18, 0.06),
    -1px -1px 1px 0px rgba(255, 255, 255, 0.6),
    -1px -1px 4px 0px rgba(255, 255, 255, 0.6),
    -2px -2px 8px 0px rgba(255, 255, 255, 0.6),
    1px 1px 1px 0px rgba(12, 13, 18, 0.06),
    1px 1px 4px 0px rgba(12, 13, 18, 0.06),
    2px 2px 8px 0px rgba(12, 13, 18, 0.06);
}

.radio__box::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 7px;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.4s 0.1s, box-shadow 0.4s;
}

.radio__text {
  position: relative;
  margin-left: 45px;
  top: -45%;
  color: #a6a7a9;
  border-radius: 20%;
  /* background-color: rgba(238,240,245,1); */
  /* box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(12,13,18, 0.06), -1px -1px 1px 0px rgba(255, 255, 255,0.6), -1px -1px 4px 0px rgba(255, 255, 255, 0.6), -2px -2px 8px 0px rgba(255, 255, 255, 0.6), 1px 1px 1px 0px rgba(12,13,18, 0.06), 1px 1px 4px 0px rgba(12,13,18, 0.06), 2px 2px 8px 0px rgba(12,13,18, 0.06); */
}

.radio__input:checked + .radio__box::before {
  background-color: #444157;
  /* box-shadow: inset 0 0 0px 1px rgba(0, 150, 255, 0.3),
    inset 0 0 4px 1px rgba(0, 150, 255, 0.3),
    inset 0 0 8px 1px rgba(0, 150, 255, 0.3),
    inset -1px -1px 1px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 2px 0px rgba(255, 255, 255, 0.3),
    inset 1px 1px 1px 0px rgba(12, 13, 18, 0.6),
    inset 2px 2px 2px 0px rgba(12, 13, 18, 0.4); */
}

.box_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

}

textarea {
  /* 독후감 본문 입력란 */
  font-size: 1.3rem;
  padding: 2rem;
  width: 100%;
  height: 10em;
  border: none;
  resize: none;
  border-radius: 0.5rem;
  background-color: transparent;
    border: 1rem;
    box-shadow: -5px -5px 5px rgba(92, 92, 92, 0.1),
    3px 3px 3px rgba(0, 0, 0, 0.3), 
    inset 3px 3px 3px rgba(82, 82, 82, 0.2),
    inset 3px 3px 3px rgba(0, 0, 0, 0.4);
  /* 기본 스타일 */
  /* box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    border-radius: 10px;
    background: transparent; */
}

textarea:focus {
  outline: 0;
}

.container_body {
  display: grid;
  height: 5%;
  width: 30%;
  margin: 0px 2rem 0 auto;
  /* position: relative; */
  /* left: 67%; */
  /* top: 3%; */
  place-items: center;
  text-align: center;
}

.pagination_container {
  border-radius: 1rem;
}
.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  flex: 1;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #303a47;
  box-shadow: 6px 7px 6px #24232b, -7px -6px 11px #686a72;
}

.pagination li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #813818;
  height: 100%;
  width: 3rem;
  display: block;
  line-height: 2rem;
}
.pagination li:first-child a {
  width: 6rem;
}

.pagination li:last-child a {
  width: 6rem;
}

.pagination li:hover {
  box-shadow: -2px -2px 5px #191919, 2px 2px 5px #babecc;
}

.container .book_club_container {
  width: 100%;
  height: 19rem;
  border-radius: 1rem;
  background-color: #33383d;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.my_book_club {
  width: 20%;
}

.category__text {
  position: absolute;
  margin-left: 60px;
  align-items: center;
}

.category__text img {
  height: 7rem;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.category__box {
  position: relative;
  top: 4.5rem;
  left: 1.2rem;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #96939b;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),
    inset -1px -1px 1px rgba(12, 13, 18, 0.06),
    -1px -1px 1px 0px rgba(255, 255, 255, 0.6),
    -1px -1px 4px 0px rgba(255, 255, 255, 0.6),
    -2px -2px 8px 0px rgba(255, 255, 255, 0.6),
    1px 1px 1px 0px rgba(12, 13, 18, 0.06),
    1px 1px 4px 0px rgba(12, 13, 18, 0.06),
    2px 2px 8px 0px rgba(12, 13, 18, 0.06);
}

.category__box::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 7px;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.4s 0.1s, box-shadow 0.4s;
}

.radio__input:checked + .category__box::before {
  background-color: #444157;
  /* box-shadow: inset 0 0 0px 1px rgba(0, 150, 255, 0.3),
    inset 0 0 4px 1px rgba(0, 150, 255, 0.3),
    inset 0 0 8px 1px rgba(0, 150, 255, 0.3),
    inset -1px -1px 1px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 2px 0px rgba(255, 255, 255, 0.3),
    inset 1px 1px 1px 0px rgba(12, 13, 18, 0.6),
    inset 2px 2px 2px 0px rgba(12, 13, 18, 0.4); */
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      box-shadow:  0 0 0px 1000px white 00.1s inset !important;
      -webkit-box-shadow: 0 0 0px 1000px white 00.1s inset !important;
      -webkit-text-fill-color: #fff !important;
}
