body {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    height: 100%;
    top: 8rem;
    width: 80%;
    padding: 3rem;
    background-color: #33383D;
    border-radius: 2rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    color: #a6a7a9

;
}

.container .profile_club {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    /* left: 5%; */
    /* top: 2rem; */
}

.container .book_club_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 90%;
    height: 19rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 5%;
    top: 1%;
}

.container .book_club_container .book_cover {
    padding: 3%;
    height: 100%;
    width: 100%;
}

.container_body_add{
    height: 10%;
    width: 5%;
    position: relative;
    left: 37.5%;
    top: 1rem;
    place-items: center;
    text-align: center;
}

.pagination_container {
    border-radius: 1rem;
}
.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    display: flex;
    border-radius: 1rem;
    background-color: #ed591a;
    box-shadow: 4px 4px 8px #b94514, -4px -4px 8px #ff6d20;
}

.pagination li a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #813818;
    height: 2rem;
    width: 2rem;
    display: block;
    line-height: 2.4rem;
}
.pagination li:first-child a {
    width: 6rem;
}

.pagination li:last-child a {
    width: 6rem;
}

.pagination li:first-child {
    margin: 0 15px 0 0;
}

.pagination li:last-child {
    margin: 0 0 0 15px;
}

.pagination li:hover {
    box-shadow: -2px -2px 5px #191919, 2px 2px 5px #BABECC;
}

.container_body_reports{
    height: 10%;
    width: 5%;
    position: relative;
    float: right;
    /* left: 82%; */
    /* top: -2%; */
    place-items: center;
    text-align: center;
}

.container .profile_container .img_container img {
    position: absolute;
    left: 0.7rem;
    top: 0.6rem;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.container .bookshelf_container img{
    padding: 2%;
    width: 90%;
    height: 90%;
}

.margin {
    margin-top: 7rem;
}

.margin .profile_club {
    top: -0.1rem;
}

.container .my_book_club {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 20%;
    height: 80%;
}

.invite_request {
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-around;
    position: relative;
    height: 19rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    /* left: 5%; */
    /* top: 1%; */
    padding: 3%;
    height: 100%;
    margin: 0 auto;
}

.invite_request_container > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.invite_request_container{
    width: 90%;
    margin: 4rem auto;
}

.single_request {
    display: flex;
    justify-content: space-between;
}