body {
    display: flex;
    justify-content: center;
    min-height: 770vh !important;
}

.container {
    position: relative;
    height: 100%;
    top: 8rem;
    width: 80%;
    padding: 3rem;
    background-color: #33383D;
    border-radius: 2rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.container .profile_club {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 5%; 
    margin-top: 6rem;
    /* top: 2rem;  */
}

.container .book_club_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 90%;
    height: 19rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 5%;
    top: 1%;
}

.container .book_club_container .book_cover {
    padding: 3%;
    height: 100%;
    width: 100%;
}

.container_body_add{
    height: 10%;
    display: flex;
    width: 100%;
    position: relative;
    /* left: 37.5%; */
    top: 1rem;
    place-items: center;
    text-align: center;
    justify-content: center;
}

.pagination_container {
    border-radius: 1rem;
}
.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #514a77;
    box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
    align-items: center;
}

.pagination li a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #813818;
    height: 2rem;
    width: 4rem;
    display: block;
    line-height: 2rem;
}
.pagination li:first-child a {
    /* width: 6rem; */
}

.pagination li:last-child a {
    /* width: 6rem; */
}

.pagination li:first-child {
    margin: 0 15px 0 0;
}

.pagination li:last-child {
    margin: 0 0 0 15px;
}

.pagination li:hover {
    box-shadow: -2px -2px 5px #191919, 2px 2px 5px #BABECC;
}

.container_body_reports{
    height: 10%;
    width: 5%;
    position: relative;
    float: right;
    left: -12%; 
    top: -2.1rem; 
    place-items: center;
    text-align: center;
}

.container .profile_container .img_container img {
    position: absolute;
    left: 0.7rem;
    top: 0.6rem;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.container .bookshelf_container img{
    padding: 2%;
    width: 90%;
    height: 90%;
}

.margin {
    margin-top: 7rem;
}

.margin .profile_club {
    top: -0.1rem;
}

.container .my_book_club {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 20%;
    height: 80%;
}

.invite_request {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    height: 19rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    /* left: 5%; */
    /* top: 1%; */
    padding: 3%;
    height: 100%;
    margin: 0 auto;
}

.invite_request_container > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
}

.invite_request_container{
    width: 90%;
    margin: 4rem auto;
}

.single_request {
    display: flex;
    justify-content: space-between;
}

.container h2 {
  color: #a6a7a9;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1em;
  font-weight: 600;
  padding-left: 10px;
  border-left: 5px solid #514a77;
}

.container .user_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 13rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 0;
}

.all_profile_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.member_box {
  padding: 5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member_box img {
    width: 10rem;
    height: 11rem;
}

span {
    position: absolute;
    top: 15.5rem;
}

.current_span {
    position: unset;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 3rem;
    background-color: #303a47;
    box-shadow: 6px 7px 6px #1a1823, -7px -6px 11px #686a72;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    background-color: #303a47;
    box-shadow: 6px 7px 6px #1a1823, -7px -6px 11px #686a72;
    border-radius: 3rem;
}

.add_club_btn {
    font-size: x-large !important;
    width: 9rem !important;
}