body {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    height: 100%;
    top: 8rem;
    width: 80%;
    padding: 3rem;
    background-color: #33383D;
    border-radius: 2rem;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    color: #a6a7a9;
}

.container .profile_club {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 5%;
}

.container .book_club_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 5%;
    top: 1%;
}

.container .book_club_container .my_book_club {
    width: 75%;
}

.container .book_club_container .book_cover {
    padding: 3%;
    height: 100%;
    width: 20rem;
}

.container .number_club {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    left: 80%;
    top: 3rem;
}


.container .my_book_club {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #33383D;
    box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
    width: 20%;
    height: 80%;
}

.con {
    margin: 3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}