body {
  display: flex;
  justify-content: center;
  min-height: 135vh;
}

.container {
  position: relative;
  height: 100%;
  top: 8rem;
  width: 60rem;
  padding: 3rem;
  background-color: #33383D;
  border-radius: 2rem;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  color: #a6a7a9;
}

.container h2 {color: #d3d4d5;margin: 2rem 0 1rem;line-height: 1em;font-weight: 600;padding-left: 10px;border-left: 5px solid #514a77;}

.container h3 {color: #a6a7a9;margin-top: 2rem;margin-bottom: 1rem;line-height: 1em;font-weight: 600;padding-left: 10px;border-left: 5px solid #514a77;}

.container .body {margin-bottom: 1rem;}

.container .inputBox {display: flex;position: relative;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;width: 20rem;height: 4rem;margin: 3rem;/* margin-bottom: 1.8rem; */align-items: center;}


.container .inputBox_radio {
display: flex;
position: relative;
box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
width: 3.5rem;
height: 2rem;
margin-bottom: 1.8rem;
border: 0;
outline: 0;
border-radius: 320px;
background-color: #33383d;
}

.container .inputBox,
button {
border: 0;
outline: 0;
border-radius: 320px;
background-color: #33383d;
}

.container .inputBox input {position: absolute;/* top: 9%; *//* left: 4%; */width: 90%;margin: 1rem;background: transparent;padding: 10px;border-radius: 4px;outline: none;font-size: 1rem;color: #111;font-weight: 300;border: none;}

.container .inputBox span {
padding: 3%;
display: inline-block;
transition: 0.5s;
pointer-events: none;
}

.container .inputBox .first {
position: absolute;
top: 17%;
left: 5%;
}
.container .inputBox .second {
position: absolute;
top: 8%;
left: 3%;
}
.container .inputBox .third {
position: absolute;
top: 25%;
left: 10%;
}
.container .inputBox h4 {
position: absolute;
top: 33%;
left: 3%;
}

.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span {
transform: translateX(-0.7rem);
transform: translateY(-2rem);
font-size: 0.85rem;
}

.container .inputBox input:focus ~ h4,
.container .inputBox input:valid ~ h4 {
transform: translateX(-0.7rem);
transform: translateY(-2rem);
font-size: 0.85rem;
transition: 0.5s;
}

button {
/* color: #61677C; */
/* font-weight: bold; */
box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
transition: all 0.2s ease-in-out;
cursor: pointer;
font-weight: 600;
height: 100%;
padding: 0.5rem;
background-color: #514a77;
}

button:hover {box-shadow: 5px 5px 8px #766f96, -9px -9px 9px #221f2f;}

button:active {
box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.login {text-align: center;display: inline;margin: 1.5rem;margin-left: 72%;width: 25%;height: 4rem;font-size: 1.2rem;color: #813818;}

.genre_container {
display: flex;
width: 110%;
flex-wrap: wrap;
}

.category_container {display: flex;width: 100%;height: 15rem;overflow: scroll;flex-wrap: wrap;border-radius: 30px;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;justify-content: center;}
.category_container::-webkit-scrollbar {
    display: none;
}
.genre {
width: 24%;
cursor: pointer;
align-items: center;
font-size: 1.3rem;
color: #9baacf;
cursor: pointer;
}

.category {width: 25%;cursor: pointer;font-size: 1.3rem;color: #9baacf;cursor: pointer;/* display: flex; */margin: 1rem;align-items: center;}

.radio__input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
position: absolute;
}

.radio__box {
position: relative;
top: 4rem;
left: 2rem;
box-sizing: border-box;
width: 24px;
height: 24px;
flex-shrink: 0;
border-radius: 50%;
background-color: transparent;
box-shadow: inset 1px 1px 1px rgb(255 255 255 / 60%), inset -1px -1px 1px rgb(12 13 18 / 6%), -1px -1px 1px 0px rgb(255 255 255 / 60%), -1px -1px 4px 0px rgb(255 255 255 / 60%), -2px -2px 8px 0px rgb(255 255 255 / 60%), 1px 1px 1px 0px rgb(12 13 18 / 6%), 1px 1px 4px 0px rgb(12 13 18 / 6%), 2px 2px 8px 0px rgb(12 13 18 / 6%);
}

.radio__box::before {
content: '';
position: absolute;
z-index: 1;
top: 7px;
left: 7px;
box-sizing: border-box;
width: 10px;
height: 10px;
border-radius: 50%;
transition: background-color 0.4s 0.1s, box-shadow 0.4s;
}

.radio__text {
position: relative;
margin-left: 70px;
top: -45%;
color: #a6a7a9;
border-radius: 20%;
/* background-color: rgba(238,240,245,1); */
/* box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(12,13,18, 0.06), -1px -1px 1px 0px rgba(255, 255, 255,0.6), -1px -1px 4px 0px rgba(255, 255, 255, 0.6), -2px -2px 8px 0px rgba(255, 255, 255, 0.6), 1px 1px 1px 0px rgba(12,13,18, 0.06), 1px 1px 4px 0px rgba(12,13,18, 0.06), 2px 2px 8px 0px rgba(12,13,18, 0.06); */
}

.radio__input:checked + .radio__box::before {
background-color: #514a77;

}


.my_book_club {
width: 20%;
}

.category__text {/* position: absolute; */margin-left: 36%;align-items: center;}

.category__text img {height: 7rem;width: 7rem;padding: 0.5rem;border-radius: 1rem;box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;}

.category__box {
  position: relative;
  top: 4.5rem;
  left: 1.2rem;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #8b859b;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),
  inset -1px -1px 1px rgba(12, 13, 18, 0.06),
  -1px -1px 1px 0px rgba(255, 255, 255, 0.6),
  -1px -1px 4px 0px rgba(255, 255, 255, 0.6),
  -2px -2px 8px 0px rgba(255, 255, 255, 0.6),
  1px 1px 1px 0px rgba(12, 13, 18, 0.06),
  1px 1px 4px 0px rgba(12, 13, 18, 0.06),
  2px 2px 8px 0px rgba(12, 13, 18, 0.06);
  }


.radio__input:checked +.category__box::before {
  background-color: red !important;
  /* box-shadow: inset 0 0 0px 1px rgba(0, 150, 255, 0.3),
  inset 0 0 4px 1px rgba(0, 150, 255, 0.3),
  inset 0 0 8px 1px rgba(0, 150, 255, 0.3),
  inset -1px -1px 1px 0px rgba(255, 255, 255, 0.6),
  inset -2px -2px 2px 0px rgba(255, 255, 255, 0.3),
  inset 1px 1px 1px 0px rgba(12, 13, 18, 0.6),
  inset 2px 2px 2px 0px rgba(12, 13, 18, 0.4); */
  }


.container .profile_club {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20%;
  height: 3rem;
  border-radius: 1rem;
  background-color: #33383D;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  left: 5%;
}

.container .book_club_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  height: 100%;
  border-radius: 1rem;
  background-color: #33383D;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  left: 5%;
  top: 1%;
}

.container .book_club_container .my_book_club {
  width: 75%;
}

.container .book_club_container .book_cover {
  padding: 10%;
  height: 100%;
  width: 20rem;
}

.container .number_club {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10%;
  height: 3rem;
  border-radius: 1rem;
  background-color: #33383D;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  left: 80%;
  top: 3rem;
}


.container .my_book_club {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: #33383D;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  width: 20%;
  height: 80%;
}

.con {
  width: 14rem;
  margin: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_book_club_info {
  position: relative;
  /* top: 7rem; */
  left: 0.3rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #33383D;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  width: 75%;
  margin: 0 3rem;
  margin-bottom: 1rem;
  font-size: medium;
  padding: 0.5rem;
}

.container .book_club_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 13rem;
  border-radius: 1rem;
  background-color: #33383D;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  left: 0;
}

.all_profile_container {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}

.member_box {
padding: 5rem;
width: 30%;
display: flex;
flex-direction: column;
align-items: center;
}

.club_description {
width: 70%;
padding: 1rem;
box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
border-radius: 10px;
background: transparent;
}

.info {display: flex;align-items: center;justify-content: center;}

.img_container {width: 7rem;}

.container .alarm {
  /* position: absolute; */
  /* top: 13rem; */
  /* left: 26rem; */
  /* float: right; */
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}

.search {
width: 7rem;
font-size: 1rem;
height: 4rem;
background-color: #303a47;
box-shadow: 6px 7px 6px #24232b, -7px -6px 11px #686a72;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
      -webkit-transition: background-color 9999s ease-out;
      -webkit-text-fill-color: #fff !important;
}
.temp {
    height: 9rem;
}

.search:hover {
    box-shadow: 5px 5px 8px #62646a, -9px -9px 9px #17191d;
}