.deactivate {
  display: none !important;
}

* {
  /* color : red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.container {
  position: relative;
  width: 80%;
  margin: 6rem;
  padding: 2rem;
  background-color: #33383d;
  /* background-color: blue; */
  border-radius: 30px;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  color: #111;
  font-weight: 600;
}

h1 {
  border-left: 5px solid #514a77;
  padding-left: 10px;
}


.container > * {
  margin: 2rem;
  color: #d3d4d5;
}

.container > * > * {
  border-radius: 30px;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  padding: 1rem;
}

.container .profile_container .club_info {
  box-shadow: none;
}

.container .profile_container .club_info .img_container {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  margin-right: 3rem;
}

img {
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  width: 3rem;
  border-radius: 10px;
  background: transparent;
}

.club_img {
  width: 7rem;
  height: 7rem;
}

.profile_img {
  border-radius: 100px;
}

.book_cover {
  width: 10rem;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  border-radius: 10px;
}

.club_info {
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

/* .club_book_list{
  width: 180rem;
} */

.button {
  box-shadow: 4px 4px 8px #261f44, -4px -4px 8px #786fa1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  margin-bottom: 0.5rem;
  /* margin-top: 0; */
  height: 3.5rem;
  padding: 0 3rem;
  color: #813818;
  background-color: #514a77;
  border: 0;
  outline: 0;
  border-radius: 320px;
}

button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.vote_btn {
  margin: auto;
}

#edit_club_btn {
  /* float: right; */
  /* margin-right: 2rem; */
}

#vote-create_btn {
  float: right;
  position: relative;
  /*top: -4.5rem;*/
}

.btn_container {
  /* top: -4.5rem; */
  float: right;
  /* padding-bottom : 1rem; */
}

#request_btn,
#exit_btn {
  float: right;
}

.profile_container > * {
  margin: 1rem 2rem;
}

.vote_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.book_info_box {
  width: 15rem;
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.kakao_link, .zoom_link, .chat_link {
  /* width: 80%; */
  margin: 0 0.5rem;
  /* margin : 0.2rem auto; */
  color: #f7f7f7;
}

.club_detail_header {
  box-shadow: none;
  padding: 0px;
  display: flex;
  /* margin: 1rem; */
  justify-content: space-between;
}

.kakao_link, .zoom_link, .chat_link {
  text-align: center;
  /* margin : 0.2rem auto; */
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  /* position: absolute; */
  /* top: 2%; */
  right: 40%;
}

.kakao_link {
  right: 26%;
}

.link {
  text-decoration: none;
  color: blueviolet;
}

.club_detail_header {
  box-shadow: none;
  padding: 0px;
  display: flex;
  align-items: center;
}

.event_div {
  width: 12rem;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  border-radius: 50px;
  background: transparent;
}

.event_div {
  width: 12rem;
  padding: 1rem;
  color: #a6a7a9;
  margin-top: 1rem;
  text-align: center;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  border-radius: 50px;
  background: transparent;
}

.text {
  width: 12rem;
  /* height: 6rem; */
  display: flex;
  color: #a6a7a9;
  padding: 1rem;
  text-align: center;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  border-radius: 50px;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.margin .text {
  position: relative;
  top: 0.7rem;
}


.book_info_box > * {
  margin: auto 2rem;
}

.book_info > * {
  margin-top: 1rem;
}

.book_info_container {
  justify-content: center;
  display: flex;
}

.book_info_container,
.all_book_cover {
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  align-items: center;
}

.book_info_bar {
  width: 140%;
  /* margin: 0px 20px; */
  padding: 0.7rem;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  color: #f7f7f7;
  font-weight: 300;
  border: none;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  border-radius: 10px;
  background: transparent;
}

.all_book_cover {
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.all_book_cover > * {
  margin: 0.5rem;
}

.club_description {
  width: 60%;
  padding: 2rem;
  box-shadow: inset 9px 9px 18px #25282c, inset -9px -9px 18px #41484e;
  border-radius: 10px;
  background: transparent;
}

.empty_list {
  height: 10rem;
  padding: 1rem;
  width: 16rem;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member_box {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
}

.all_profile_container {
  display: flex;
  justify-content: center;
}

.edit_container a {
  box-shadow: none;
  padding: 0px;
}

.edit_container {
  float: right;
}

.go_vote_btn, .vote_info {
  margin: 1.5rem auto;
}

.vote_info > div {
  text-align: center;
}

.empty_list p {
  text-align: center;
}

a {
  color: #f7f7f7;
  text-decoration: none;
}
#link_container {
  display: flex;
  margin: 0;
  float: right;
  margin-top: 1rem;
}

.club_bookshelf,
.present_book_container {
  box-shadow: none;
}

#invite {
  float: right;
  position: relative;
  top: 2.3rem;
}

.invite_link {
  box-shadow: none;
}


.reco_profile_container {
  display: flex;
  width: 100%;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
}

.roce_box {
  padding: 4rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reco_box img {
    width: 10rem;
    height: 13rem;
    box-shadow: none;
}

.reco_box span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-edit_btn {
  position: relative;
  /* left: 36rem; */
  margin-right: 2rem;
}

.active {
color: red;
}

.container_single_requester {
display: flex;
}

.request-done {
display: none;
}