{% extends "base/base.html" %}
{% load static %}

<head>
    <title>Book clubs</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="club_container">
            <button class="add_Club" type="button">
                Add My Club!
            </button>
            <div class="my_clubs" onclick="">
                <span>소모임명</span>
                <span>인원</span>
                <img src="" alt="">
            </div>
        </div>
        <div class="club_info">
            <span>인기 북클럽</span>
            <span>1 / 50</span>
            <a href="">전체 페이지</a>
        </div>
        <div class="club_container">
            <div class="my_clubs" onclick="">
                <span>소모임명</span>
                <span>인원</span>
                <img src="" alt="">
            </div>
        </div>
        <div class="club_info">
            <span>인문 북클럽</span>
            <span>1 / 50</span>
            <a href="">전체 페이지</a>
        </div>
        <div class="club_container">
            <div class="my_clubs" onclick="">
                <span>소모임명</span>
                <span>인원</span>
                <img src="" alt="">
            </div>
        </div>
        <div class="club_info">
            <span>철학 북클럽</span>
            <span>1 / 50</span>
            <a href="">전체 페이지</a>
        </div>
        <div class="club_container">
            <div class="my_clubs" onclick="">
                <span>소모임명</span>
                <span>인원</span>
                <img src="" alt="">
            </div>
        </div>
        <div class="club_info">
            <span>과학 북클럽</span>
            <span>1 / 50</span>
            <a href="">전체 페이지</a>
        </div>
        <div class="club_container">
            <div class="my_clubs" onclick="">
                <span>소모임명</span>
                <span>인원</span>
                <img src="" alt="">
            </div>
        </div>
        <div class="club_info">
            <span>자율 북클럽</span>
            <span>1 / 50</span>
            <a href="">전체 페이지</a>
        </div>
        <div class="club_container">
            <div class="my_clubs" onclick="">
                <span>소모임명</span>
                <span>인원</span>
                <img src="" alt="">
            </div>
        </div>
        <div class="recommend_profile_container">
            <div class="profile_container">
                <img src="" alt="">
                <span>이름</span>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>