{% extends "base/base.html" %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Detail</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="profile-container">
            <div class="img-container">
                <img class="club-img" src="">
            </div>
            <div class="club-informatioon">
                <h1>소모임 명</h1>
                <p>소모임 소개</p>
                <div class="kakao-link">
                    <p>카톡 링크</p>
                </div>
            </div>
        </div>
        <div class="club-detail-containaer">
            <!--profile hover effect : 이름, 나이, 선호장르-->
            <img class="profile-img" src="">
            <img class="profile-img" src="">
            <img class="profile-img" src="">
            <img class="profile-img" src="">
            <img class="profile-img" src="">
        </div>
        <div class="club-detail-containaer">
            <div>누적 토론 횟수</div>
            <div>현재 진행중인 토론 줌링크</div>
        </div>
        <div class="club-detail-containaer">
            진행중인 이벤트
            <!--기간 정해서 다음책 투표 정하는 두가지 기능 파트-->
            <div class="event-function">투표</div>
            <div class="event-function">룰렛</div>
        </div>
        <div class="club-detail-containaer">
            <div class="book-container">
                현재 읽는 중인 책
                <div class="book-cover">
                    <img class="book-cover" src="">
                </div>
            </div>
            <div class="club-bookshelf">
                <!--현재 읽는 중인 책이 끝나면 여기에 기록-->
                우리 소모임의 책장
                <div class="book-cover">
                    <img class="book-cover" src="">
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

</body>

</html>