{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/add_book.css' %}" />
{% endblock extrahead %}

{% block title %}
Add Book
{% endblock title %}

{% block content %}
<div class="container">
    <div class="container_book_search">
        <form action="">
            책 제목 검색 :
            <input type="search" name="book_search_input">
            <input type="submit" value="검색">
        </form>
    </div>

    <div class="container_book_search_result">
        <div class="book_search_result">
            <img class="book_cover" src="">
            <div class="book_information">
                책제목 :
                글쓴이 :
                분야 :
            </div>
            <input type="submit" value="선택">
        </div>
    </div>
</div>
{% endblock content %}