{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/all_my_reports.css' %}" />
{% endblock extrahead %}

{% block title %}
All My Reports
{% endblock title %}

{% block content %}
<div class="container">
    <div class="profile_reports">
        <h3>내가 쓴 글</h3>
    </div>
    <div class="reports_container">
        <div class="first_container">
            <div class="report_name_container">
                <div class="report_name">
                    <h3>독후감</h3>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목 아마 이정도 길겠죠?</a>
                </div>
            </div>
            {% for my_report in my_reports %}
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">{{my_report.report_name}}</a>
                </div>
            </div>
            {% endfor %}
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>

        </div>
        <div class="report_name_container">
            <div class="report_name">
                <h3>찬/반 토론</h3>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}