{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/all_my_reports.css' %}" />
{% endblock extrahead %}

{% block title %}
All My Reports
{% endblock title %}

{% block content %}
<div class="container">
    <div class="profile_reports">
        <h3>{{ user_info.nickname }}님이 쓴 글</h3>
    </div>
    <div class="reports_container">
        <div class="first_container">
            <div class="report_name_container">
                <div class="report_name">
                    <h3>독후감</h3>
                </div>
            </div>
            {% for report in user_reports %}
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="../bookreport/{{ report.id }}" class="reports_name">{{report.report_name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}