{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/all_my_reports.css' %}" />
{% endblock extrahead %}

{% block title %}
All My Reports
{% endblock title %}

{% block content %}
<div class="container">
    <div class="profile_reports">
        <h1>{{ user_info.nickname }}님의 독후감</h1>
    </div>
    <div class="reports_container">
        <div class="first_container">
            {% for report in user_reports %}
            <div class="report_container" onclick="location.href='../bookreport/{{ report.id }}';">
                <div class="inner_report_container">
                    <a href="" class="reports_name">{{report.report_name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}