{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/bunder.css' %}" />
{% endblock extrahead %}

{% block title %}
My Bunder
{% endblock title %}


{% block content %}
<div class="container">
    <div class="profile_container">
        <div class="img_container">
            <img class="profile_img" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="name_container">
            <h3 class="name">이름 : {{user.username}}</h3>
            <h3 class="book_category">선호하는 책 장르 : 카테고리 책</h3>
        </div>
    </div>

    <div class="profile_book_container">
        <h3>프로필 북</h3>
    </div>
    <div class="profile_book_cover">
        <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
    </div>
    <div class="profile_club">
        <h3>참여중인 소모임</h3>
    </div>
    <div class="container_body">
        <div class="pagination_container">
            <ul class="pagination">
                <li><a href="#" class="previous">Previous</a></li>
                <li><a href="#none">1/5</a></li>
                <li><a href="#" class="next">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="book_club_container">
        <div class="my_book_club">
            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_book_club">
            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_book_club">
            <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
    </div>
    <div class="profile_bookshelf">
        <h3>나의 책장</h3>
    </div>
    <div class="container_body_add">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href="{% url 'user:book' %}" class="add_bookshelf">Add</a></li>
            </ul>
        </div>
    </div>
    <div class="bookshelf_container">
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
        <div class="my_books">
            <img class="bookshlef_cover" src="https://avatars.dicebear.com/api/male/바.svg">
        </div>
    </div>
    <div class="profile_reports">
        <h3>내가 쓴 글</h3>
    </div>
    <div class="container_body_reports">
        <div class="pagination_container">
            <ul class="pagination ">
                <li><a href="#" class="all_my_reports">전체보기</a></li>
            </ul>
        </div>
    </div>
    <div class="reports_container">
        <div class="report_name_container">
            <div class="report_name">
                <h3>독후감</h3>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">독후감 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">독후감 제목</a>
            </div>
        </div>
        <div class="report_name_container">
            <div class="report_name">
                <h3>찬/반 토론</h3>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
            </div>
        </div>
        <div class="report_container">
            <div class="inner_report_container">
                <a href="" class="reports_name">찬/반토론 제목</a>
            </div>
        </div>
    </div>
    <div class="margin">
        <div class="profile_reports">
            <h3>내가 스크랩한 글</h3>
        </div>
        <div class="container_body_reports">
            <div class="pagination_container">
                <ul class="pagination ">
                    <li><a href="#" class="all_my_reports">전체보기</a></li>
                </ul>
            </div>
        </div>
        <div class="reports_container">
            <div class="report_name_container">
                <div class="report_name">
                    <h3>독후감</h3>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">독후감 제목</a>
                </div>
            </div>
            <div class="report_name_container">
                <div class="report_name">
                    <h3>찬/반 토론</h3>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">찬/반토론 제목 아마 이정도 길겠죠?</a>
                </div>
            </div>
            <div class="report_container">
                <div class="inner_report_container">
                    <a href="" class="reports_name">찬/반토론 제목</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bunder_reco">
        <div class="profile_club">
            <h3>번더의 추천 책</h3>
        </div>
        <div class="container_body">
        </div>
        <div class="book_club_container">
            <div class="my_book_club">
                <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
            </div>
            <div class="my_book_club">
                <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
            </div>
            <div class="my_book_club">
                <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
            </div>
            <div class="my_book_club">
                <img class="book_cover" src="https://avatars.dicebear.com/api/male/바.svg">
            </div>
        </div>
    </div>
</div>
{% endblock content %}