<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bunder</title>
</head>
<body>
    <div class="container">
        <div class="c-profile">
            <div class="c-profile_img">
                <img class="profile_img" src="">
            </div>
            <div class="c-name">
                <h3>이름</h3>
            </div>
        </div>
    
        <div class="c-profile_book">
            <h3>프로필 북</h3>
            <div class="profile_book_cover">
                <img class="book_cover" src="">
            </div>
        </div>
    
        <div class="c-my_bookclub">
            <h3>참여중인 소모임</h3>
            <div class="all_my_bookclub">
                <div class="my_bookclub">소모임1</div>
                <div class="my_bookclub">소모임2</div>
                <div class="my_bookclub">소모임3</div>
            </div>    
        </div>
    
        <div class="c-my_bookshelf">
            <h3>나의 책장</h3>
            <input type="button" value="책 추가하기">
            <div class="all_my_books">
                <div class="arr1_my_books">
                    <img class="book_cover" src="">
                    <img class="book_cover" src="">
                    <img class="book_cover" src="">
                    <img class="book_cover" src="">
                </div>
                <div class="arr2-my_books">
                    <img class="book_cover" src="">
                    <img class="book_cover" src="">
                    <img class="book_cover" src="">
                    <img class="book_cover" src="">
                </div>
            </div>
        </div>

        <div class="c-my_text">
            <h3>내가 쓴 글</h3>
            <div class="all_my_texts">
                <div class="c-my_book_report">
                    <h4>독후감</h4>
                    <div class="my_book_report">독후감1</div>
                    <div class="my_book_report">독후감2</div>
                </div>
                <div class="c-my_debate">
                    <h4>찬/반 토론</h4>
                    <div class="my_debate"></div>
                    <div class="my_debate"></div>
                </div>
            </div>
        </div>

        <div class="c-BUNDER_rec_book">
            <h3>BUNDER 추천 도서</h3>
            <div class="all_BUNDER_rec_books">
                <div class="BUNDER_rec_book">추천도서1</div>
                <div class="BUNDER_rec_book">추천도서2</div>
                <div class="BUNDER_rec_book">추천도서3</div>
                <div class="BUNDER_rec_book">추천도서4</div>
            </div>

        </div>
    </div>
    

</body>
</html>