{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/category_revise.css' %}" />
{% endblock extrahead %}

{% block title %}
Categories Revise
{% endblock title %}

{% block content %}
<div class="container">
    <div class="all_container">
        <h2>비밀번호 수정</h2>
        <div class="profile_container">
            <div class="inner_container">
                <h3 class="name">User ID : {{user.username}}</h3>
                <h3 class="nickname">User Nickname : {{user.username}}</h3>
                <h3 class="nickname">User Age : {{user.age}}</h3>
                <form method="post">
                    <div class="inputBox">
                        <select name="book_category" id="book_category">
                            <option value="default" selected> {{user.categories}}</option>
                            <option value="문학">문학</option>
                            <option value="경제/경영">경제/경영</option>
                            <option value="예술">예술</option>
                            <option value="자기계발">자기계발</option>
                            <option value="정치/사회">정치/사회</option>
                            <option value="과학">과학</option>
                            <option value="기술IT">기술/IT</option>
                        </select>
                    </div>
                    <div class="button_container">
                        <input type="submit" value="카테고리 수정" class="button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="profile_container">
        <img src="" alt="">
        <p>User ID : {{user.username}}</p>
        <p>User Nickname : {{user.nickname}}</p>
        <p>User Age : {{user.age}}</p>
    </div>
    <form method="post">
        <div class="inputBox">
            <select name="book_category" id="book_category">
                <option value="default" selected>{{user.categories}}</option>
                <option value="문학">문학</option>
                <option value="경제/경영">경제/경영</option>
                <option value="예술">예술</option>
                <option value="자기계발">자기계발</option>
                <option value="정치/사회">정치/사회</option>
                <option value="과학">과학</option>
                <option value="기술IT">기술/IT</option>
            </select>
        </div>
        <div class="inputBox">
            <input type="submit" value="선호 책 장르 수정">
        </div>
    </form>
</div> -->
{% endblock content %}