{% extends "base/base.html" %}
{% load static %}

<head>
    <title>Profile</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="profile-container">
            <img src="" alt="">
            <p>User ID : User ID Template</p>
            <p>User Nickname : User Nickname Template</p>
        </div>
        <h2>비밀번호 수정</h2>
        <form method="post">
            <div class="inputBox">
                <input type="password" required="required" name='old-password' id='old-password'>
                <span>현재 비밀번호</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name='new-password' id='new-password'>
                <span>새 비밀번호</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name='new-password' id='new-password'>
                <span>새 비밀번호 확인</span>
            </div>
            {{error}}
            <div class="inputBox">
                <input type="submit" value="비밀번호 수정">
            </div>
        </form>
    </div>
    {% endblock content %}
</body>