{% extends "base/base.html" %}
{% load static %}


{% block title %}
Profile
{% endblock title %}

<body>
    {% block content %}
    <div class="container">
        <div class="profile_container">
            <img src="" alt="">
            <p>User ID : {{user.username}}</p>
            <p>User Nickname : {{user.nickname}}</p>
            <p>User Age : {{user.age}}</p>
            <p>User favorite category : {{user.categories}}</p>
        </div>
        <div class="inputBox">
            <input type="submit" value="선호 책 장르 수정">
        </div>
        <div class="inputBox">
            <input type="submit" value="비밀번호 수정">
        </div>
        {% endblock content %}
</body>