{% extends "base/base.html" %}
{% load static %}

<head>
    <title>Profile</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="profile-container">
            <img src="" alt="">
            <p>User ID : User ID Template</p>
            <p>User Nickname : User Nickname Template</p>
        </div>
        <form method="post">
            <div class="inputBox">
                <select name="book-category" id="book-category">
                    <option value="">-- 선호 책 장르 --</option>
                    <option value="문학">문학</option>
                    <option value="경제/경영">경제/경영</option>
                    <option value="예술">예술</option>
                    <option value="자기계발">자기계발</option>
                    <option value="정치/사회">정치/사회</option>
                    <option value="과학">과학</option>
                    <option value="기술IT">기술/IT</option>
                </select>
            </div>
            <div class="inputBox">
                <input type="submit" value="선호 책 장르 수정">
            </div>
            <div class="inputBox">
                <input type="submit" value="비밀번호 수정">
            </div>
        </form>
    </div>
    {% endblock content %}
</body>