{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mail/mail_to.css' %}" />
{% endblock extrahead %}
{% block title %}
Mail to
{% endblock title %}

{% block content %}
<div class="container">
    <div class="all_report_container">

        <div class="write_mail_container">
            <div class="inner_container">
                <form action="{% url 'mail:create' %}" method="post">
                    {% csrf_token %}
                    {{error}}
                    <div class="send_mail">
                        <input type="submit" class="button" id="send_mail_btn" value="쪽지 보내기">
                    </div>
                    <div class="write_mail">
                        <input class="input_bar" type="text" name="receiver" placeholder="받는 사람 닉네임">
                        <div class="report_content">
                            <textarea name="content" id="content" placeholder="쪽지 작성"></textarea>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}