{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login/mail_to.css' %}" />
{% endblock extrahead %}
{% block title %}
Mail to
{% endblock title %}

{% block content %}
<div class="container">
    <div class="navbar_container">
        <div class="all_receiver">
            <ul class="navbar">
                <!--https://codepen.io/OMGDrAcula/pen/bGgabjb-->
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
            </ul>
        </div>
    </div>
    <div class="write_mail_container">
        <div class="inner_contaienr">
            <div class="info">
                <input type="text" name="" value="닉네임">
            </div>
            <form action="#" method="post">
                <div class="inputBox">
                    {{error}} <input type="submit" value="보내기">
                </div>
            </form>
            <div class="report_content">
                <textarea name="content" id="content" placeholder="쪽지 작성"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock content %}