<div class="container">
    <div class="write_report">
        <input type="button" value="쪽지 작성하기" onClick = "location.href = 'mail_to'" >
    </div>

    <div class="navbar_container">
        <div class="all_receiver">
            <ul class="navbar">
                <!--https://codepen.io/OMGDrAcula/pen/bGgabjb-->
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>
                <li class="filter-trigger" data-filter="receiver">
                    <img src="" class="profile_img">
                    닉네임
                    쪽지 내용
                </li>

            </ul>
        </div>
    </div>
    <div class="mail_container">
        <div class="all_mail">
            <div class="mail">
                <p class="in_out_text">받은 쪽지</p>
            </div>
            <div class="mail">
                <p class="in_out_text">보낸 쪽지</p>
            </div>
            <div class="mail">
                <p class="in_out_text">받은 쪽지</p>
            </div>
            <div class="mail">
                <p class="in_out_text">보낸 쪽지</p>
            </div>
        </div>
        
    </div>




</div>