{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mail/mail_to.css' %}" />
{% endblock extrahead %}
{% block title %}
Mail to
{% endblock title %}

{% block content %}
<div class="container">
    <div class="all_report_container">
        <div class="navbar_container big_container">
            <div class="categories">
                <ul class="navbar">
                    <!--https://codepen.io/OMGDrAcula/pen/bGgabjb-->
                    <li>
                        <div class="profile_img">
                            <img class="img"
                                src="https://avatars.dicebear.com/api/{{ user.sex }}/{{ user.nickname }}.svg">
                        </div>

                        <div class="profile_name">
                            <span class="name">닉네임</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile_img">
                            <img class="img"
                                src="https://avatars.dicebear.com/api/{{ user.sex }}/{{ user.nickname }}.svg">
                        </div>

                        <div class="profile_name">
                            <span class="name">닉네임</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile_img">
                            <img class="img"
                                src="https://avatars.dicebear.com/api/{{ user.sex }}/{{ user.nickname }}.svg">
                        </div>

                        <div class="profile_name">
                            <span class="name">닉네임</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile_img">
                            <img class="img"
                                src="https://avatars.dicebear.com/api/{{ user.sex }}/{{ user.nickname }}.svg">
                        </div>

                        <div class="profile_name">
                            <span class="name">닉네임</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="write_mail_container">
            <div class="inner_container">
                <form action="{% url 'mail:create' %}" method="post">
                    {% csrf_token %}
                
                    <div class="send_mail">
                        <input type="button" class="button" id="send_mail_btn" value="쪽지 보내기" onClick="location.href = 'new'">
                    </div>   
                    <div class="write_mail">
                        <input class="input_bar" type="text" name="receiver" placeholder="받는 사람 아이디">
                        <div class="report_content">
                            <textarea name="content" id="content" placeholder="쪽지 작성"></textarea>
                        </div>
                    </div> 
                   
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}