{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mail/mail.css' %}" />
{% endblock extrahead %}
{% block title %}
Mail
{% endblock title %}

{% block content %}
<div class="container">
    <div class="all_report_container">
        <div class="navbar_container big_container">
            <div class="categories">
                <ul class="navbar">
                    <!--https://codepen.io/OMGDrAcula/pen/bGgabjb-->
                    {% for person in receiver %}
                    {# <form action="{% url 'mail:main' person.id %} " method="post">#}
                        {% csrf_token %}
                        <a href="receiver?id={{ person.id }}">
                            <button type="submit" name="each_mail">
                                <div class=" profile_img">
                                    <img class="img"
                                        src="https://avatars.dicebear.com/api/{{ person.sex }}/{{ person.nickname }}.svg">
                                </div>
                                <div class="profile_name">
                                    <span class="name">{{ person.nickname }}</span>
                                </div>
                            </button>
                        </a>
                        {% endfor %}
                </ul>
            </div>
        </div>

        <div class="reports_container big_container">
            {{ error }}
            <div class="write_report">
                <input type="button" class="button" id="write_report_btn" value="쪽지 작성하기"
                    onClick="location.href = 'new'">
            </div>
            <div class="write_report">
                <a href="reply?id={{ click_receiver }}">
                    <input type="submit" class="button" id="write_report_btn" value="쪽지 답장하기"
                        onClick="location.href = 'new'">
                </a>
            </div>
            <div class="container_body">
                <div class="pagination_container">
                    <ul class="pagination">
                        <li><a href="#" class="previous">Previous</a></li>
                        <li><a href="#none">1/5</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </div>
            </div>

            <div class="report_box">
                {% for content in each_content %}
                <div class="report">
                    <div class="text" id="book_name">
                        <p class="bookname">{{ content.content }} </p>
                    </div>
                    <div class="report_info">
                        <div class="profile_img">
                            <img class="img"
                                src="https://avatars.dicebear.com/api/{{ content.user.sex }}/{{ content.user.nickname }}.svg">
                        </div>

                        <div class="profile_name">
                            <span class="name">{{ content.user.nickname }}</span>
                        </div>
                        <div class="report_time">
                            <span class="time">{{ content.created_at }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    function toggleBtn1() {

        // 토글 할 버튼 선택 (btn1)
        const btn1 = document.getElementById('btn1');

        // btn1 숨기기 (display: none)
        if (btn1.style.display !== 'none') {
            btn1.style.display = 'none';
        }
        // btn` 보이기 (display: block)
        else {
            btn1.style.display = 'block';
        }

    }
</script>
{% endblock content %}