<div class="container">
    <div class="container_top_debate">
        <p>인기글</p>
        <div class="top_debate">
            <div class="title">글제목</div>
            <div class="profile">
                <img src="" alt="">
                글쓴이 닉네임
            </div>
            글 작성날짜

            <div>찬성 게이지</div>
            <div>반대 게이지</div>
        </div>
    </div>

    <input type="button" value="새 토론글 작성" onClick="">

    <div class="container_all_debate">
        <p>전체글</p>

        <div class="inputBox">
            <select name="debate_view" id="debate_view">
                <option value="발행 순">발행 순</option>
                <option value="댓글 많은 순">댓글 많은 순</option>
            </select>
        </div>
        
        <div class="container_all_debate">
            <div class="debate">
                <div class="title">글제목</div>
                <div class="profile">
                    <img src="" alt="">
                    글쓴이 닉네임
                </div>
                글 작성날짜
        
                <div>찬성 게이지</div>
                <div>반대 게이지</div>
            </div>

            <div class="debate">
                <div class="title">글제목</div>
                <div class="profile">
                    <img src="" alt="">
                    글쓴이 닉네임
                </div>
                글 작성날짜
        
                <div>찬성 게이지</div>
                <div>반대 게이지</div>
            </div>
            
        </div>

    </div>


</div>