{% extends "base/base.html" %}
{% load static %}

<head>
    <title>Debate</title>
</head>

{% block content %}
<div class="container">
    <div class="top_container">
        <h2>인기글!</h2>
        <div class="write_debate">
            <input type="button" value="토론글 작성하기" onClick="location.href = 'write_debate'">
        </div>
    </div>
    <div class="best_debate_container">
        <div class="best_debate_info">
            <div class="debate_user_info">
                <img src="" class="user_profile">
                <p>{{book.user_nickname}}</p>
            </div>
            <div class="debate_title">
                <h2>제목 : {{book.debate_name}}</h2>
                <span class="date">작성날짜 : {{book.created_at}} </span>
            </div>
        </div>
        <div class="debate_gaze">
            <div class="agree_gaze">찬성 N%</div>
            <div class="disagree_gaze">반대 N%</div>
        </div>
    </div>
    <div class="top_container">
        <h2>전체글!</h2>
        <div class="inputBox">
            <select name="debate_view" id="debate_view">
                <option value="발행 순">발행 순</option>
                <option value="댓글 많은 순">댓글 많은 순</option>
            </select>
        </div>
    </div>
    <div class="all_debate_container">
        <div class="debate_container">
            <div class="best_debate_info">
                <div class="debate_user_info">
                    <img src="" class="user_profile">
                    <p>{{book.user_nickname}}</p>
                </div>
                <div class="debate_title">
                    <h2>제목 : {{book.debate_name}}</h2>
                    <span class="date">작성날짜 : {{book.created_at}} </span>
                </div>
            </div>
            <div class="debate_gaze">
                <div class="agree_gaze">찬성 N%</div>
                <div class="disagree_gaze">반대 N%</div>
            </div>
        </div>
        <div class="best_debate_info">
            <div class="debate_user_info">
                <img src="" class="user_profile">
                <p>{{book.user_nickname}}</p>
            </div>
            <div class="debate_title">
                <h2>제목 : {{book.debate_name}}</h2>
                <span class="date">작성날짜 : {{book.created_at}} </span>
            </div>
        </div>
        <div class="debate_gaze">
            <div class="agree_gaze">찬성 N%</div>
            <div class="disagree_gaze">반대 N%</div>
        </div>
    </div>
</div>
{% endblock content %}