<div class="container">
    <div class="debate_container">
        <div class="agree_disagree_percent">
            <div class="agree_percent">찬성</div>
            <div class="disagree_percent">반대</div>
        </div>

        <div class="debate_text">
            <div class="debate_title">
                <h2>토론 주제 : </h2>
                <span class="date">작성 날짜 : </span>
            </div>
            
            <div class="profile">
                <img class="profile_img" src="">
                <span class="nickname">닉네임 : {{user.nickname}}</span>
            </div>
            
            <div class="book">
                <div class="book_img">
                    <img src="" class="book_cover">
                </div>
                <div class="book_info">
                    <p class="book_name">책 제목 : </p>
                    <p class="author">글쓴이 : </p>
                </div>
            </div>

            <div class="content">
                <h2>토론글 본문</h2>
                <div class="debate_content"></div>
            </div>

            <div class="agree_disagree_button">
                <div class="agree_button">
                    <input type="submit" value="찬성">
                    <span class="submit_num">100</span>
                </div>
                <div class="disagree_button">
                    <input type="submit" value="반대">
                    <span class="scrap">100</span>
                </div>
            </div>

            <div class="save_button">
                <input type="submit" value="스크랩">
            </div>
        </div>
    </div>

    <h3>댓글 N개</h3>
    <div class="comment_container">
        <div class="comment_write_container">
            <select name="agree_disagree">
                <option value="agree">찬성</option>
                <option value="disagree">반대</option>
            </select>
            <div class="write_comment">
                <textarea name="comment" id="comment" cols="30" rows="2" placeholder="댓글 작성"></textarea>
            </div>
            <div class="comment_button">
                <input type="submit" value='작성'>
            </div>
        </div>

        <!-- <div class="comment_content_container">
            <div class="best_comment_container">
                <div class="best_comment">
                    <div class="profile">
                        <img class="profile_img" src="">
                        <span class="nickname">닉네임 : {{user.nickname}}</span>
                        <span class="date">작성 날짜 : </span>
                        <div class="best_sign">best</div>
                    </div>

                    <div class="comment_conetent">
                        <p>댓글 본문</p>
                    </div>

                    <div class="comment_button">
                        <input type="button" value='답글'>
                        <input type="button" value='좋아요'>
                    </div>
                </div>

                <div class="comment_reply">
                    <div class="arrow">답글 화살표</div>
                    <div class="reply">
                        <div class="profile">
                            <img class="profile_img" src="">
                            <span class="nickname">닉네임 : {{user.nickname}}</span>
                        </div>
                        <textarea name="write_reply_content" id="write_reply_content" placeholder="답글을 작성하시오."></textarea>
                        <div class="reply_button">
                            <input type="submit" value="등록">
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="all_comment_container">
                <div class="comment_conetent">
                    
                    <p>댓글 본문</p>
                    <div class="comment_button">
                        <input type="button" value='답글'>
                        <input type="button" value='좋아요'>
                    </div>
                </div>

                <div class="comment_conetent">
                    <p>댓글 본문</p>
                </div>
            </div>
            
        </div> -->
    </div>


</div>