<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block blockname %}Bunder{% endblock blockname %}</title>
    <!-- favicon -->
    <!-- fonts -->
    <!-- js -->
    <!-- style -->
    <link rel="stylesheet" href="../../static/styles/base/style.css">

</head>

<body>
    <!-- nav -->
    {% block navbar %}
    <div class="navigation">
        <div class="userBx">
            <div class="imgBx">
                <img src="">
            </div>
            <p class="username">Profile name</p>
        </div>
        <div class="menuToggle"></div>
        <ul class="menu">
            <li><a href="#">
                    <ion-icon name="person-outline"></ion-icon>개인 번더
                </a></li>
            <li><a href="#">
                    <ion-icon name="chatbubble-outline"></ion-icon>독후감
                </a></li>
            <li><a href="#">
                    <ion-icon name="notifications-outline"></ion-icon>소모임
                </a></li>
            <li><a href="#">
                    <ion-icon name="settings-outline"></ion-icon>찬/반 토론장
                </a></li>
            <li><a href="#">
                    <ion-icon name="help-circle-outline"></ion-icon>메일함
                </a></li>
            <li><a href="#">
                    <ion-icon name="log-in-outline"></ion-icon>로그인
                </a></li>
            <li><a href="#">
                    <ion-icon name="logo-buffer"></ion-icon>회원가입
                </a></li>
        </ul>
    </div>
    {% endblock navbar %}

</body>

</html>