<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bunder{% endblock title %}</title>
    <!-- favicon -->
    <!-- fonts -->
    <!-- js -->
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/style.css' %}" />
</head>

<body>
    <!-- nav -->
    {% block navbar %}
    <div class="navigation">
        <div class="userBx">
            <div class="imgBx">
                <img src="https://avatars.dicebear.com/api/male/바.svg">
            </div>
            <p class="username">Profile name</p>
        </div>
        <div class="menuToggle"></div>
        <ul class="menu">
            <li><a href="#">
                    <ion-icon name="person-outline"></ion-icon>개인 번더
                </a></li>
            <li><a href="#">
                    <ion-icon name="book-outline"></ion-icon>독후감
                </a></li>
            <li><a href="#">
                    <ion-icon name="people-outline"></ion-icon>소모임
                </a></li>
            <li><a href="#">
                    <ion-icon name="earth-outline"></ion-icon>찬/반 토론장
                </a></li>
            <li><a href="#">
                    <ion-icon name="mail-outline"></ion-icon>메일함
                </a></li>

            <!--{% if user.is_authenticated %}-->
            <li><a href="#">
                    <ion-icon name="log-in-outline"></ion-icon>로그인
                </a></li>
            <li><a href="#">
                    <ion-icon name="person-add-outline"></ion-icon>회원가입
                </a></li>
            <!-- {% endif %} -->
            <li><a href="#">
                    <ion-icon name="log-out-outline"></ion-icon>로그아웃
                </a></li>
        </ul>
    </div>
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script module src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        const menuToggle = document.querySelector('.menuToggle');
        const navigation = document.querySelector('.navigation');
        menuToggle.onclick = function () {
            navigation.classList.toggle('active')
        }
    </script>

</body>

</html>