<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bunder{% endblock title %}</title>
    <!-- favicon -->
    <!-- fonts -->
    <!-- js -->
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" />
    {% block extrahead %}
    {% endblock extrahead %}
</head>

<body>
    <!-- nav -->
    {% block navbar %}
    <div class="logo_container">
        <a href={% url 'main:home' %}>
            <img src="../../static/img/bunder_logo.png" class="logo">
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="navigation">
        <div class="userBx" onclick="location.href='../user/profile'" style="cursor:pointer;">
            <div class="imgBx">
                <img src="https://avatars.dicebear.com/api/{{ user.sex }}/{{ user.nickname }}.svg">
            </div>
            <p class="username">{{ user.nickname }}</p>
        </div>
        {% else %}
        <div class="navigation">
            <div class="userBx" onclick="location.href='../user/profile'" style="cursor:pointer;">
                <div class="imgBx">
                    <img src="../../static/img/B.png" style=" padding:0.5rem; ">
                </div>
                <p class="username">{{ user.nickname }}</p>
            </div>
            {% endif %}
            <div class="menuToggle">
            </div>
            <ul class="menu">
                <li><a href={% url 'user:bunder' %}>
                        <ion-icon name="person-outline"></ion-icon>개인 번더
                    </a></li>
                <li><a href="../bookreport/main?page=1">
                        <ion-icon name="book-outline"></ion-icon>독후감
                    </a></li>
                <li><a href="../bookclub/">
                        <ion-icon name="people-outline"></ion-icon>소모임
                    </a></li>
                <li><a href="../mail">
                        <ion-icon name="mail-outline"></ion-icon>메일함
                    </a></li>
                {% if user.is_authenticated %}
                <li><a href="../user/logout">
                        <ion-icon name="log-out-outline"></ion-icon>로그아웃
                    </a></li>
                {% else %}
                <li><a href="../user/login">
                        <ion-icon name="log-in-outline"></ion-icon>로그인
                    </a></li>
                <li><a href="../user/signup">
                        <ion-icon name="person-add-outline"></ion-icon>회원가입
                    </a></li>
                {% endif %}
            </ul>
        </div>
        {% endblock navbar %}

        {% block content %}
        {% endblock content %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script module src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            const menuToggle = document.querySelector('.menuToggle');
            const navigation = document.querySelector('.navigation');
            menuToggle.onclick = function () {
                navigation.classList.toggle('active')
            }
        </script>

</body>

</html>