{% extends "base/base.html" %}
{% load static %}


{% block title %}
Hi, Bunder
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base/index_style.css' %}" />
{% endblock extrahead %}

{% block content %}
<div class="container">
    <section class="one">
        <h1>1</h1>
    </section>
    <section class="two">
        <h1>2</h1>
    </section>
    <section class="three">
        <h1>3</h1>
    </section>
    <section class="four">
        <h1>4</h1>
    </section>
</div>
{% endblock content %}