{% extends "base/base.html" %}
{% load static %}

{% block title %}
Sign in
{% endblock title %}

<body>
    {% block content %}
    <div class="container">
        <h2>Hi, Bunder</h2>
        <form method="post">
            <div class="inputBox">
                <input type="text" required="required" name='username' id='username'>
                <span>ID</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name='password' id='password'>
                <span>PassWord</span>
            </div>
            {{error}}
            <div class="inputBox">
                <input type="submit" value="Login">
            </div>
            <div class="inputBox">
                <input type="submit" value="Forgot Password">
            </div>
        </form>
    </div>
    {% endblock content %}

</body>

</html>