{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login/sign_in.css' %}" />
{% endblock extrahead %}

{% block title %}
Sign in
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Hi, Bunder</h2>
    <form method="post">
        <div class="inputBox">
            <input type="text" required="required" name='username' id='username'>
            <span>ID</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required" name='password' id='password'>
            <span>PassWord</span>
        </div>
        {{error}}
        <!-- <div class="inputBox">
            <input type="submit" value="Forgot Password">
        </div>
        <div class="inputBox">
            <input type="submit" value="Login">
        </div> -->
        <button class="password" type="button" value="Forgot Password">Forgot
            Password</button>
        <button class="login" type="button" value="Login">Sign in</button>
    </form>
</div>
{% endblock content %}