{% extends "base/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login/sign_up.css' %}" />
{% endblock extrahead %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Ready to Bunder</h2>
    <form method="post">
        <div class="inputBox">
            <input type="text" required="required" name='username' id='username'>
            <span>User ID</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required" name='password' id='password'>
            <span>PassWord</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required" name='re_password' id='re_password'>
            <span>Re-Enter PassWord</span>
        </div>
        <div class="inputBox">
            <input type="text" required="required" name='nickname' id='nickname'>
            <span>Nickname</span>
        </div>
        <div class="inputBox">
            <input type="number" required="required" name='age' id='age' min="8" max="100">
            <span class="age">Age</span>
        </div>
        <div class="segmented-control">
            <input type="radio" name="sex" value="male" id="tab-1" checked />
            <label for="tab-1" class="segmented-control__1">
                <p>Male</p>
            </label>
            <input type="radio" name="sex" value="female" id="tab-2" />
            <label for="tab-2" class="segmented-control__2">
                <p>Female</p>
            </label>
            <div class="segmented-control__color"></div>
        </div>
        <h3 class="decorator decorator_indent-b_l">선호 책 장르</h3>
        <section class="genre_container">
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">문학</span>
            </label>
            <label class="genre">
                <input type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">예술</span>
            </label>
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">자기계발</span>
            </label>
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">정치/사회</span>
            </label>
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">과학</span>
            </label>
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">기술/IT</span>
            </label>
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">인문</span>
            </label>
            <label class="genre">
                <input checked type="radio" name="book_category" class="radio__input">
                <div class="radio__box"></div>
                <span class="radio__text">기타</span>
            </label>

        </section>
        {{error}}
        <button class="login" type="submit" value="Sign up">Sign Up</button>
    </form>
</div>
{% endblock content %}